/* GRID
========================================================== */

/* GRID
========================================================== */

.cc-cols {
    position: relative;
    clear: both;
    /*overflow: hidden;*/
    margin-left: -10px;
	margin-right: -10px;
}

.cc-col {
    float: left;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;

    @include vendorize(box-sizing, border-box);
}

.cc-col-1 { width: 8.3333%; }
.cc-col-2 { width: 16.6666%; }
.cc-col-3 { width: 24.9999%; }
.cc-col-4 { width: 33.3332%; }
.cc-col-5 { width: 41.6665%; }
.cc-col-6 { width: 50%; }
.cc-col-7 { width: 58.3333%; }
.cc-col-8 { width: 66.6667%; }
.cc-col-9 { width: 74.9999%; }
.cc-col-10 { width: 83.3333%; }
.cc-col-11 { width: 91.6666%; }
.cc-col-12 { width: 100%; }

.prepend-1  { margin-left: 8.3333%; }
.prepend-2  { margin-left: 16.6666%; }
.prepend-3  { margin-left: 24.9999%; }
.prepend-4  { margin-left: 33.3332%; }
.prepend-5  { margin-left: 41.6665%; }
.prepend-6  { margin-left: 50%; }
.prepend-7  { margin-left: 58.3333%; }
.prepend-8  { margin-left: 66.6667%; }
.prepend-9  { margin-left: 74.9999%; }
.prepend-10 { margin-left: 83.3333%; }
.prepend-11 { margin-left: 91.6666%; }
.prepend-12 { margin-left: 100%; }

/*
.row {
	margin-left: -10px;
}

.col-xs-1, 
.col-xs-2, 
.col-xs-3, 
.col-xs-4, 
.col-xs-5, 
.col-xs-6, 
.col-xs-7, 
.col-xs-8, 
.col-xs-9, 
.col-xs-10, 
.col-xs-11, 
.col-xs-12, 
.col-sm-1, 
.col-sm-2, 
.col-sm-3, 
.col-sm-4, 
.col-sm-5, 
.col-sm-6, 
.col-sm-7, 
.col-sm-8, 
.col-sm-9, 
.col-sm-10, 
.col-sm-11, 
.col-sm-12, 
.col-md-1, 
.col-md-2, 
.col-md-3, 
.col-md-4, 
.col-md-5, 
.col-md-6, 
.col-md-7, 
.col-md-8, 
.col-md-9, 
.col-md-10, 
.col-md-11, 
.col-md-12, 
.col-lg-1, 
.col-lg-2, 
.col-lg-3, 
.col-lg-4, 
.col-lg-5, 
.col-lg-6, 
.col-lg-7, 
.col-lg-8, 
.col-lg-9, 
.col-lg-10, 
.col-lg-11, 
.col-lg-12 {
	padding-left: 10px;
	padding-right: 10px;
}
*/