.cc-proace-value {
    position:absolute;
    top:20px;
    text-align:center;
    //font-family:toyotadisplay_bd;
    //font-weight:bold;
    font-size:14px;
}

.cc-range-label {
    font-family:toyotadisplay_bd;
    font-weight:normal;
    font-size:16px;
}

div.cc-filter.cc-range-slider {
    float: left;
    margin-bottom: 10px;
}

.cc-proace .cc-border.cc-first
{
    border-top:1px solid #D7D9DC;
    margin-top:15px;
    padding-top:18px;
}
