
<div class="container latest-news modal-header">
  <div class="row">
    <section class="forms ">
      <header>
        <h2>Lisa auto</h2>
      </header>
      <form>
        
        <div class="row">
          
          <div class="col-xs-12 col-sm-5 col-md-6">
            <p>Auto tehasetähise leiad registreerimistunnistuselt nagu alloleval illustreerival pildil näidatud.</p>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <img src="assets/img/tech_pass_ee.png" alt="" width="250" height="173">
            </div>
          </div>
          
          <div class="col-xs-12 col-sm-7 col-md-6">
            <h5>Sisesta oma auto tehasetähis (17-kohaline VIN-kood)</h5>
            <div class="row">
              <div class="col-xs-12">
                <input type="text">
                <input type="checkbox" name="owner" id="owner-1">
                <label for="options-6">Olen selle auto omanik/vastutav kasutaja</label>
              </div>
            </div>
    
            <div class="row">
              <div class="form-btn col-xs-12">
                <a class="btn btn-dark btn-new-car">Lisa</a>
                <a class="btn btn-link" data-dismiss="modal">Katkesta</a>
              </div>
            </div>
            <div class="row form-error-msg">
              <div class="col-xs-12">
                <h3 class="error-message"></h3>
              </div>
            </div>
            
          </div>
        </div>
      </form>
    </section>
  </div>
</div>