<div class="articles-list hidden-xs">
<section class="container latest-news">
  <header class="section-title">
    <h1>Kasulikku lugemist</h1>
  </header>
  <div class="row big section-sub-spotlights">
    <div class="col-xs-12 col-sm-6 element">
  <a href="http://www.toyota.be">
    <span class="image-container">
      <img src="assets/img/section-spotlight1.jpg" alt="" >
    </span>
    <h3>
      <span class="category-tag news">
        <label>TEST</label>
      </span>
      Warranty & assistance
    </h3>
    <p>
      Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem.
    </p>
  </a>
</div>
    <div class="col-xs-12 col-sm-6 element">
  <a href="http://www.toyota.be">
    <span class="image-container">
      <img src="assets/img/section-spotlight2.jpg" alt="" >
    </span>
    <h3>
      <span class="category-tag events">
        <label>TEST</label>
      </span>
      Warranty & assistance
    </h3>
    <p>
      Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem.
    </p>
  </a>
</div>
    <div class="col-xs-12 col-sm-6 element">
  <a href="http://www.toyota.be">
    <span class="image-container">
      <img src="assets/img/section-spotlight2.jpg" alt="" >
    </span>
    <h3>
      <span class="category-tag events">
        <label>TEST</label>
      </span>
      Warranty & assistance
    </h3>
    <p>
      Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem.
    </p>
  </a>
</div>
    <div class="col-xs-12 col-sm-6 element">
  <a href="http://www.toyota.be">
    <span class="image-container">
      <img src="assets/img/section-spotlight1.jpg" alt="" >
    </span>
    <h3>
      <span class="category-tag news">
        <label>TEST</label>
      </span>
      Warranty & assistance
    </h3>
    <p>
      Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem.
    </p>
  </a>
</div>
  </div>
  <div class="filter-bar row">
    <div class="fb-inner">
      <a data-nopreventdefault="true" href="carchapter-promotions-overview.html" class="btn btn-grey">Read more news, stories &amp; events<i class="icon-chevron-right"></i></a>
    </div>
  </div>
</section>
</div>

