<section id="dealer-details" class="container" data-id="198789">
  <div class="row">
    <div id="map-col" class="col-xs-12 col-md-6">
      <div class="row">
        <div class="col-sm-12">
          <div class="map map-dealers" data-location="{&quot;lat&quot;: 50.605186, &quot;lon&quot;: 3.390911}"></div>
        </div>
      </div>
    </div>
    <div class="details col-xs-12 col-md-6">
      <div class="row">
        <div class="col-sm-6">
          <h5 class="dealer-name">Macedo &amp; Macedo Ltd.</h5>
          <span class="dealer-address">
            <ul>
              <li>Street xyz, 319</li>
              <li>B-1000 - City</li>
            </ul>
          </span>
        </div>
        <div class="right col-sm-6">
          <a class="btn btn-grey btn-save">Save to My Toyota</a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <img src="../../images/dealer-head.png" class="dealer-image">
        </div>
      </div>
      <div class="row dealer-services">
        <div class="col-xs-6 col-md-4">
          <i class="icon-car1"></i>
          New cars
        </div>
        <div class="col-xs-6 col-md-4">
          <i class="icon-car1"></i>
          New cars
        </div>
        <div class="col-xs-6 col-md-4">
          <i class="icon-car1"></i>
          Used Toyota
        </div>
        <div class="col-xs-6 col-md-4">
          <i class="icon-car1"></i>
          New cars
        </div>
        <div class="col-xs-6 col-md-4">
          <i class="icon-car1"></i>
          Services
        </div>
      </div>
      <div class="dealer-contact-title row">
        <h5>Contact & opening hours</h5>
      </div>
      <div class="row dealer-contact-details">
        <div class="open details-section col-sm-12">
          <div>
            <h4>Showroom</h4>
            <div class="row">
              <div class="col-sm-6">
                <ul class="contact">
                  <li><b>Tel:</b> 123456789</li>
                  <li><b>Fax:</b> 987654321</li>
                  <li><b>Email: </b>toyota@macedo.pt</li>
                </ul>
              </div>
              <div class="col-sm-6">
                <ul class="hours">
                  <li><b>Monday:</b> <span>09.0 - 12.0</span></li>
                  <li><span>13.0 - 17.0</span></li>
                  <li><b>Tuesday:</b> <span>09.0 - 17.0</span></li>
                  <li><b>Wednesday:</b> <span>09.0 - 17.0</span></li>
                  <li><b>Thursday:</b> <span>09.0 - 17.0</span></li>
                  <li><b>Friday:</b> <span>09.0 - 17.0</span></li>
                  <li><b>Saturday:</b> <span>09.0 - 17.0</span></li>
                  <li><b>Sunday:</b> <span>10.0 - 18.0</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row dealer-contact-details">
        <div class="details-section col-sm-12">
          <div>
            <h4>Service center</h4>
            <div class="row">
              <div class="col-sm-12">
                Service center infos.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row dealer-contact-details">
        <div class="last details-section col-sm-12">
          <div>
            <h4>Rental company</h4>
            <div class="row">
              <div class="col-sm-12">
                Rental company infos.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row dealer-CTA hidden-xs">
        <b>directions</b>
        <a href="dealer-business-page.html" class="btn btn-dark btn-directions" data-bubble="bubble-direction">How to find us</a>
        <a href="dealer-business-page.html" class="btn btn-dark btn-gps" data-bubble="bubble-gps">GPS</a>
        <a href="dealer-business-page.html" class="btn btn-dark btn-print">Print details</a>

        <div class="bubble bubble-direction">
          <div class="triangle-up"></div>
          <div class="bubble-dark form-btn input-search">
            <input type="text" placeholder="Enter starting point" data-validation="length" min-length="2">
            <a class="btn-search btn-search-directions" href="dealer-business-page.html">
              <i class="icon-search"></i>
            </a>
          </div>
          <a href="dealer-business-page.html#" class="geo-location">
            <i class="icon-map-marker"></i>
            <span>Use my current location</span>
          </a>
          <label class="geo-error"></label>
        </div>
      </div>
    </div>
    <div class="hidden directions col-xs-12 col-md-6">
      <div class="direction-CTA">
        <a class="btn btn-grey btn-back" href="dealer-business-page.html#">
          <i class="icon-chevron-left"></i>
          Step back
        </a>
      </div>
      <div class="directions-content"></div>
    </div>
  </div>
</section>