<section id="dealerfinder11-20410" class="dealer-finder in-page hidden-xs navy" data-bt-eventclass="componentevent" data-bt-category="component" data-bt-componentname="find_dealer" data-bt-scroll="">
  <div class="container">
    <header class="section-title">
      <h1>Find a dealer</h1>
    </header>
    <div class="forms">
      <div class="row">
        <div class="col-xs-12 col-sm-6 form">
          <h3 class="error-message"></h3>

          <div class="input-search form-btn" data-bt-eventclass="ctaevent" data-bt-action="click_search" data-bt-value="dealerfinder" data-bt-workflowname="dealerfinder" data-bt-workflowstep="0">
            <input type="text" placeholder="Search by city or zip code" data-validation="length" min-length="2">
            <a href="iq-index.html#" class="btn-search btn-search-dealers btn-search-in-page" data-bt-track="">
              <i class="icon-search"></i>
            </a>
          </div>
          <a href="iq-index.html#" class="geo-location" data-bt-action="click_use_location" data-bt-value="use_location" data-bt-track="">
            <i class="icon-map-marker"></i> <span>Use my current location</span>
          </a>
          <div class="row search-options">
            <div class="col-sm-6">
              <ul>
                <!-- options-list-items.nj : begin -->
                <li>
                  <input type="checkbox" name="options" id="SelectAll" value="selectall" class="select-all"> <label for="SelectAll"><i class="hidden-xs icon-all"></i>Select
                  all</label>
                </li>
                <li>
                  <input type="checkbox" name="options" id="BodyShop" value="bodyshop"> <label for="BodyShop"><i class="hidden-xs icon-all"></i>Body shop</label>
                </li>
                <li>
                  <input type="checkbox" name="options" id="PriusDealer" value="priusdealer"> <label for="PriusDealer"><i class="hidden-xs icon-all"></i>Hybrid</label>
                </li>
                <li>
                  <input type="checkbox" name="options" id="ShowRoom" value="showroom"> <label for="ShowRoom"><i class="hidden-xs icon-all"></i>New cars</label>
                </li>
                <li>
                  <input type="checkbox" name="options" id="PaintShop" value="paintshop"> <label for="PaintShop"><i class="hidden-xs icon-all"></i>Paint shop</label>
                </li>
                <!-- options-list-items.nj : end -->

              </ul>
            </div>
            <div class="col-sm-6">
              <ul>
                <!-- options-list-items.nj : begin -->
                <li>
                  <input type="checkbox" name="options" id="PartsShop" value="partsshop"> <label for="PartsShop"><i class="hidden-xs icon-all"></i>Part shop</label>
                </li>
                <li>
                  <input type="checkbox" name="options" id="FastFit" value="fastfit"> <label for="FastFit"><i class="hidden-xs icon-all"></i>Rapid service</label>
                </li>
                <li>
                  <input type="checkbox" name="options" id="RentCars" value="rentcars"> <label for="RentCars"><i class="hidden-xs icon-all"></i>Rental cars</label>
                </li>
                <li>
                  <input type="checkbox" name="options" id="WorkShop" value="workshop"> <label for="WorkShop"><i class="hidden-xs icon-all"></i>Workshop</label>
                </li>
                <li>
                  <input type="checkbox" name="options" id="UsedCars" value="usedcars"> <label for="UsedCars"><i class="hidden-xs icon-all"></i>Used cars</label>
                </li>
                <!-- options-list-items.nj : end -->

              </ul>
            </div>
            <div class="col-sm-6">
              <ul>
                <!-- options-list-items.nj : begin -->
                <li>
                  <input type="checkbox" name="options" id="TopCar" value="topcar"> <label for="TopCar"><i class="hidden-xs icon-all"></i>Top cars</label>
                </li>
                <!-- options-list-items.nj : end -->

              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-padding-6 text-right dealer-next-steps">
          <h3>Looking to book a test drive,<br/>or want to get in touch?</h3>

          <div class="button-container" data-bt-eventclass="ctaevent" data-bt-action="click_cta" data-bt-workflowstep="0">
            <a href="http://t1-production-client.herokuapp.com/book-test-drive.json" class="btn btn-red " data-bt-value="Book a testdrive" data-bt-workflowname="Book a testdrive" data-bt-track="">
              Book a testdrive<i class="icon-chevron-right"></i>
            </a>
            <a href="http://t1-production-client.herokuapp.com/forms/forms.json?tab=pane-contact" class="btn btn-red action-overlayer-ajax" data-bt-value="Contact Toyota" data-bt-workflowname="Contact Toyota" data-bt-track="">
              Contact Toyota<i class="icon-chevron-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>