<section class="footer">
  <div class="container">
    <div class="row footer-legal-content">
      <div class="col-xs-12 col-sm-6">
        <ul class=" language-selector form">
          <li>
            <h5>Vali keel</h5>
          </li>
          <li>
            <input id="options-1" type="radio" name="options" value="">
            <label for="options-1">По-русски</label>
          </li>
          <li>
            <input id="options-2" type="radio" name="options" value="">
            <label for="options-2">Läti</label>
          </li>
          <li>
            <input id="options-2" type="radio" name="options" value="">
            <label for="options-2">Leedu</label>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 language">
        <ul class=" footer-collapsed-links">
          <li><a class="scrollTo" data-scrollTo='{"animation": false}' href="index.html#"><span>Tagasi üles</span><i class="icon-chevron-up"></i></a></li>
        </ul>
          
        </div>
    </div>
    
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <p>Autoriõigus &copy; Toyota Baltic.</p>
      </div>
      <div class="col-xs-12 col-sm-6 social-media-grey">
        <figure class="eprivacy-component" data-type="eprivacy" data-level="40" data-url="/api/eprivacy/social-media-links.html"></figure>
      </div>
    </div>
  </div>
</section>