<nav id="nav-primary" class="navbar navbar-fixed-top">
  <div class="navbar-inner container">
    <div class="float-left large-nav dropdown">
      <img src="assets/img/minuto.png" alt="">
      <!-- <div id="menu-search" class="input-search dropdown-menu hidden-xs">
        <input class="search" autocomplete="off" placeholder="Search Toyota" type="text" readonly>
        <a href="error.html"><i class="icon-search"></i></a>
      </div> -->
      

      
    </div>
    <div class="float-right">
      <a href="index.html" id="logo-small" class="logo-link visible-xs visible-sm logo-logo-xs"></a>
      <a href="index.html" id="logo-medium" class="logo-link hidden-xs hidden-sm logo-logo-sm"></a>
      <a href="index.html" id="logo-big" class="logo-link hidden-xs hidden-sm logo-logo-md-red"></a>
    </div>
    <!-- <div class="float-right large-nav my-toyota hidden-xs dropdown">
      <a id="dropdown-button-my-toyota" class="dropdown-toggle" data-toggle="dropdown" role="button" href="error.html#" data-bt-track="" data-bt-action="menu_click" data-bt-eventclass="componentEvent"
        data-bt-category="component" data-bt-name="site_my_toyota_menu" data-action-target="#dropdown-menu-my-toyota">
        <span>My Toyota</span>
      </a>
      <div id="dropdown-menu-my-toyota" class="dropdown-menu" role="menu" data-expand-height="content">
        <nav class="container navigation-menu clearfix">
          <div id="myToyota" data-url="%2Fmockups%2Fmy-toyota.html">
            <a class="ty-icon" href="error.html#/publish/my_toyota_my_cars">My cars</a>
            <a class="ty-icon" href="error.html#/publish/my_toyota_my_dealers">My dealer</a>
            <a class="ty-icon" href="error.html#/publish/my_toyota_owners_area">Owners area</a>
          </div>
        </nav>
      </div>
    </div> -->
  </div>
</nav>

