<nav id="nav-primary" class="navbar navbar-fixed-top">
  <div class="navbar-inner container">
    <div class="float-left large-nav dropdown">
      <a id="dropdown-button-car" class="dropdown-toggle" data-toggle="dropdown" role="button" href="error.html#" data-bt-track="" data-bt-action="menu_click" data-bt-eventclass="componentEvent" data-bt-category="component" data-bt-name="site_search_menu" data-action-target="#dropdown-meau-car">
        <span class="link hidden-xs">Menüü</span>
        <i class="icon-chevron-down hidden-xs hidden-sm"></i>
        <i class="icon-menu visible-xs"></i>
      </a>
      <!-- <div id="menu-search" class="input-search dropdown-menu hidden-xs">
        <input class="search" autocomplete="off" placeholder="Search Toyota" type="text" readonly>
        <a href="error.html"><i class="icon-search"></i></a>
      </div> -->
      <ol id="menu-breadcrumb" class="breadcrumb">
        <!-- <li>Minu autod<i class="sprite-menu-dark-arrow" style=></i><i>/</i></li> -->
        <li class="active">Auris 123ABC<i class="sprite-menu-dark-arrow"></i><i>/</i></li>
      </ol>

      <div id="dropdown-menu-car" class="dropdown-menu fluid" aria-labelledby="dropdown-menu-1" role="menu">
        <div class="maincontainer">
        <nav class="container navigation-menu clearfix hidden-xs">
          <div class="row">
            <div class="col-sm-12 col-md-6 model-list">
              <div class="row">
                <h5>Minu autod</h5>
                <a class="col-sm-3 col-md-4" href="#">
                  <img width="150" height="95" alt="iq" src="http://toyota-stage.amaze.com/inc/images/nav-models/model-menu-iq.png">
                  <span>
                    <strong>IQ</strong> 123ABC
                  </span>
                  <div class="label hybrid">hybrid</div>
                </a>
                <a class="col-sm-3 col-md-4" href="#">
                  <img width="150" height="95" alt="aygo" src="http://toyota-stage.amaze.com/inc/images/nav-models/model-menu-aygo.png">
                  <span>
                    <strong>Aygo</strong> 234CBO
                  </span>
                </a>
                <a class="col-sm-3 col-md-4" href="carchapter-index.html">
                  <img alt="Yaris" src="http://toyota-stage.amaze.com/inc/images/nav-models/model-menu-yaris.png" />
                  <span>
                    <strong class="hybrid-only">Yaris</strong> 567NBO
                  </span>
                </a>
                <a class="col-sm-3 col-md-4" href="#">
                  <img width="150" height="95" alt="versos" src="http://toyota-stage.amaze.com/inc/images/nav-models/model-menu-verso-s.png">
                  <span>
                    <strong>Verso-S</strong> 789MBO
                  </span>
                </a>
                <a class="col-sm-3 col-md-4" href="#">
                  <img width="150" height="95" alt="urbancruiser" src="http://toyota-stage.amaze.com/inc/images/nav-models/model-menu-urban-cruiser.png">
                  <span>
                    <strong>Urban Cruiser</strong> 456HVS
                  </span>
                </a>
              </div>
            </div>
            <!-- <div class="col-md-6">
              <ul class="language-selector form">
                <li>
                  <h5>Vali keel:</h5></li>
                <li>
                  <input id="options-1" type="radio" name="options" value="/mockups/pages/empty-language-nl.html" checked>
                  <label for="options-1">Eesti</label>
                </li>
                <li>
                  <input id="options-2" type="radio" name="options" value="/mockups/pages/empty-language-fr.html">
                  <label for="options-2">Läti</label>
                </li>
                <li>
                  <input id="options-3" type="radio" name="options" value="/mockups/pages/empty-language-de.html">
                  <label for="options-3">Leedu</label>
                </li>
                <li>
                  <input id="options-3" type="radio" name="options" value="/mockups/pages/empty-language-de.html">
                  <label for="options-3">Vene</label>
                </li>
                <li>
                  <input id="options-3" type="radio" name="options" value="/mockups/pages/empty-language-de.html">
                  <label for="options-3">Inglise</label>
                </li>
              </ul>
            </div> -->
            <ul class="col-sm-6 col-md-3 link-list">
              <li class="link-block">
                <h5>Seaded</h5>
                <ul>
                  <li><a href="profile.html">Minu konto</a></li>
                  <li><a href="http://www.toyota.ee/">Logi välja</a></li>
                </ul>
              </li>
            </ul>
            <ul class="col-sm-6 col-md-3 link-list">
              <li class="link-block language-selector form">
                <h5>Vaheta keelt:</h5>
                <ul>
                  <li>
                    <input id="options-1" type="radio" name="options" value="/mockups/pages/empty-language-nl.html" checked>
                    <label for="options-1">Eesti</label>
                  </li>

                  <li>
                    <input id="options-3" type="radio" name="options" value="/mockups/pages/empty-language-de.html">
                    <label for="options-3">Vene</label>
                  </li>

                </ul>
              </li>
            </ul>
            <!-- <ul class="col-sm-6 col-md-3 link-list">
              <li class="link-block-cta">
                <ul>
                  <li><a class="action-overlayer-ajax" href="../forms/forms.html%3Ftab=pane-testdrive.html"><span>Arrange a test drive</span><i class="icon-chevron-right"></i></a></li>
                  <li><a class="action-overlayer-ajax" href="../forms/forms.html%3Ftab=pane-brochure.html"><span>Order a brochure</span><i class="icon-chevron-right"></i></a></li>
                  <li><a href="error.html#/publish/CARCONFIG_LOAD"><span>Configure a car</span><i class="icon-chevron-right"></i></a></li>
                  <li><a class="action-overlayer-ajax" href="../forms/forms.html%3Ftab=pane-contact.html"><span>Contact us</span><i class="icon-chevron-right"></i></a></li>
                  <li><a class="action-overlayer-ajax" href="../forms/forms.html%3Ftab=pane-dealer.html"><span>Find a dealer</span><i class="icon-chevron-right"></i></a></li>
                </ul>
              </li>
              <li class="social-media-white">
                <figure class="eprivacy-component" data-type="eprivacy" data-level="40" data-url="/api/eprivacy/social-media-links.html"></figure>
              </li>
            </ul> -->
          </div>
        </nav>

  <!--       Nav mobile -->
        <nav class="container navigation-menu clearfix visible-xs">
          <ul class="language-selector form">
            <li>
              <h5>Vaheta keelt:</h5></li>
            <li>
              <input id="options-1" type="radio" name="options" value="/mockups/pages/empty-language-nl.html" checked>
              <label for="options-1">Eesti</label>
            </li>
            <li>
              <input id="options-2" type="radio" name="options" value="/mockups/pages/empty-language-fr.html">
              <label for="options-2">Vene</label>
            </li>
            
          </ul>
          <!-- <ul>
            <li><a href="#" class="btn btn-red btn-full-width">Minu autod<i class="icon-chevron-right"></i></a></li>
          </ul> -->
          <ul>
            <li><a class="btn-full-width raw-btn" href="error.html">IQ 123ABC<i class="icon-chevron-right"></i></a></li>
            <li><a class="btn-full-width raw-btn" href="error.html">Aygo 234CBO<i class="icon-chevron-right"></i></a></li>
            <li><a class="btn-full-width raw-btn" href="error.html">Yaris 567NBO<i class="icon-chevron-right"></i></a></li>
            <li><a class="btn-full-width raw-btn" href="error.html">Verso-S 678HBO<i class="icon-chevron-right"></i></a></li>
            <li><a class="btn-full-width raw-btn" href="error.html">Urban Cruiser 366TRO<i class="icon-chevron-right"></i></a></li>
          </ul>
          <ul>
            <li><a href="../forms/forms.html%3Ftab=pane-testdrive.html" class="btn btn-red btn-full-width">Hooldused Baltikumis<i class="icon-chevron-right"></i></a></li>
            <li><a href="../forms/forms.html%3Ftab=pane-brochure.html" class="btn btn-red btn-full-width">Kasulik<i class="icon-chevron-right"></i></a></li>
            <li><a href="../forms/forms.html%3Ftab=pane-contact.html" class="btn btn-red btn-full-width">Kontakt<i class="icon-chevron-right"></i></a></li>
            <!-- <li class="input-search clearfix">
              <input class="search" type="text" placeholder="Search">
              <a href="error.html"><i class="icon-search"></i></a>
            </li> -->
            <li>
              <figure class="eprivacy-component no-popup" data-type="eprivacy" data-namespace="social.share" data-level="40" data-url="/api/eprivacy/share-button.html"></figure>
            </li>
          </ul>
        </nav>
        </div>
      </div>
    </div>
    <div class="float-right">

      <a href="index.html" id="logo-small" class="logo-link visible-xs visible-sm logo-logo-xs"></a>
      <a href="index.html" id="logo-medium" class="logo-link hidden-xs hidden-sm logo-logo-sm"></a>
      <a href="index.html" id="logo-big" class="logo-link hidden-xs hidden-sm logo-logo-md-red"></a>
    </div>
    <!-- <div class="float-right large-nav my-toyota hidden-xs dropdown">
      <a id="dropdown-button-my-toyota" class="dropdown-toggle" data-toggle="dropdown" role="button" href="error.html#" data-bt-track="" data-bt-action="menu_click" data-bt-eventclass="componentEvent"
        data-bt-category="component" data-bt-name="site_my_toyota_menu" data-action-target="#dropdown-menu-my-toyota">
        <span>My Toyota</span>
      </a>
      <div id="dropdown-menu-my-toyota" class="dropdown-menu" role="menu" data-expand-height="content">
        <nav class="container navigation-menu clearfix">
          <div id="myToyota" data-url="%2Fmockups%2Fmy-toyota.html">
            <a class="ty-icon" href="error.html#/publish/my_toyota_my_cars">My cars</a>
            <a class="ty-icon" href="error.html#/publish/my_toyota_my_dealers">My dealer</a>
            <a class="ty-icon" href="error.html#/publish/my_toyota_owners_area">Owners area</a>
          </div>
        </nav>
      </div>
    </div> -->
  </div>
</nav>

<!-- Start secondary nav -->
<div id="nav-secondary-level" class="hidden-xs">
  <ul class="container">
    <li class="active">
      <a class="scrollTo" href="#calendar">Kalender</a>
    </li>
    <li class="">
      <a class="scrollTo" href="#offers">Eripakkumised</a>
    </li>
    <li class="">
      <a class="scrollTo" href="#baseData">Auto andmed</a>
    </li>
    <li class="">
      <a class="scrollTo" href="#accessories">Lisavarustus</a>
    </li>
    <li class="">
      <a class="scrollTo" href="#videos">Videod</a>
    </li>
    <li class="">
      <a class="scrollTo" href="#services">Hooldused</a>
    </li>
    <li class="">
      <a class="scrollTo" href="#contact">Tagasiside</a>
    </li>
    <li class="dropdown">
      <a href="iq-index.html#">More<i class="icon-chevron-down display-md"></i></a>
      <ul class="sub-menu">
      </ul>
    </li>
  </ul>
</div>