<nav id="nav-primary" class="navbar navbar-fixed-top">
  <div class="navbar-inner container">
    <div class="float-left large-nav dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="homepage.html#">
        <span class="link hidden-xs">Auris 321ABC</span>
        <i class="icon-chevron-down hidden-xs hidden-sm"></i>
        <i class="icon-menu visible-xs"></i>
      </a>
      <!-- <div id="menu-search" class="input-search dropdown-menu hidden-xs">
        <input class="search" autocomplete="off" placeholder="Search Toyota" type="text" readonly>
        <a href="homepage.html"><i class="icon-search"></i></a>
      </div> -->

        <div class="float-right large-nav my-toyota hidden-xs dropdown">
    <a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false"><i class="icon-chevron-down hidden-xs hidden-sm"></i>
    Tere, <strong>Sven Peekmann</strong> 
  </a>
  <ul class="dropdown-menu " role="menu" aria-labelledby="dLabel">
    <li><a href="profiil.html">Minu konto</a></li>
    <li><a href="http://www.toyota.ee/">Logi välja</a></li>
  </ul>
  <div id="dropdown-menu-my-toyota" class="dropdown-menu" role="menu" data-expand-height="content">
    <nav class="container navigation-menu clearfix">
      <div id="myToyota" data-url="%2Fmockups%2Fmy-toyota.html">
        <a class="ty-icon" href="homepage.html#/publish/my_toyota_my_cars">My cars</a>
        <a class="ty-icon" href="homepage.html#/publish/my_toyota_my_dealers">My dealer</a>
        <a class="ty-icon" href="homepage.html#/publish/my_toyota_owners_area">Owners area</a>
      </div>
    </nav>
  </div> 
</div>
</div>

  </div>
  <div class="float-right">

    <a href="homepage.html" id="logo-small" class="logo-link visible-xs visible-sm logo-logo-xs"></a>
    <a href="homepage.html" id="logo-medium" class="logo-link hidden-xs hidden-sm logo-logo-sm"></a>
    <a href="homepage.html" id="logo-big" class="logo-link hidden-xs hidden-sm logo-logo-md-red"></a>
  </div>
  <div class="float-right large-nav my-toyota hidden-xs dropdown">
    <a id="dropdown-button-my-toyota" class="dropdown-toggle" data-toggle="dropdown" role="button" href="homepage.html#" data-bt-track="" data-bt-action="menu_click" data-bt-eventclass="componentEvent"
    data-bt-category="component" data-bt-name="site_my_toyota_menu" data-action-target="#dropdown-menu-my-toyota">
    <span>My Toyota</span>
  </a>
  <div id="dropdown-menu-my-toyota" class="dropdown-menu" role="menu" data-expand-height="content">
    <nav class="container navigation-menu clearfix">
      <div id="myToyota" data-url="%2Fmockups%2Fmy-toyota.html">
        <a class="ty-icon" href="homepage.html#/publish/my_toyota_my_cars">My cars</a>
        <a class="ty-icon" href="homepage.html#/publish/my_toyota_my_dealers">My dealer</a>
        <a class="ty-icon" href="homepage.html#/publish/my_toyota_owners_area">Owners area</a>
      </div>
    </nav>
  </div>
</div>



</nav>

<div id="nav-secondary-level" class="hidden-xs">
  <ul class="container">
    <li class="active">
      <a class="scrollTo" href="calendar">Kalender</a>
    </li>
    <li class="active">
      <a class="scrollTo" href="iq-index.html#mainfocus" data-scrollto=" { &quot;parent&quot;: &quot;body&quot;, &quot;jumpTo&quot;: &quot;#mainfocus&quot; }">Eripakkumised</a>
    </li>
    <li class="">
      <a class="scrollTo" href="#carData">Auto andmed</a>
    </li>
    <li class="">
      <a class="scrollTo" href="#accessories" data-scrollto=" { &quot;parent&quot;: &quot;body&quot;, &quot;jumpTo&quot;: &quot;#videos&quot; }" data-bt-value="videos" data-bt-track="">Lisavarustus
      </a>
    </li>
    <li class="">
      <a class="scrollTo" href="#videos">Videod
      </a>
    </li>
    <li class="">
      <a class="scrollTo" href="iq-index.html#browsable-pdf11-52901" data-scrollto=" { &quot;parent&quot;: &quot;body&quot;, &quot;jumpTo&quot;: &quot;#browsable-pdf11-52901&quot; }" data-bt-value="browsable-pdf11-52901" data-bt-track="">Hooldused
      </a>
    </li>
    <li class="">
      <a class="scrollTo" href="iq-index.html#browsable-pdf11-52901" data-scrollto=" { &quot;parent&quot;: &quot;body&quot;, &quot;jumpTo&quot;: &quot;#browsable-pdf11-52901&quot; }" data-bt-value="browsable-pdf11-52901" data-bt-track="">Tagasiside
      </a>
    </li>
    <li class="dropdown">
      <a href="iq-index.html#">More<i class="icon-chevron-down display-md"></i></a>
      <ul class="sub-menu">
      </ul>
    </li>
  </ul>
</div>