<section class="calendar hero-unit bg-image-hero background">
  <div class="container">
    <header class="section-title">
      <h1>Toyota kalender</h1>
    </header>
  </div>
</section>
<section id="calendar" class="articles-list">
    <div class="container">
      <div class="row">
        <div id="mini-clndr"></div>
        <!-- <div class="col-sm-6  text-right">
          <button type="button" class="btn btn-dark btn-small btn-serviceModal" data-target="#serviceModal" data-direction="right">
            Lisa sündmus
          </button>

        </div> -->
          <!-- @include events-current-month -->
      </div>
      <!-- <div class="row filer-row">
        <div class="filter-bar">
          <div class="conclusion">
            <button type="button" class="btn btn-red btn-eventModal" data-target="#eventModal" data-direction="right">Lisa sündmus</button>
    </div>
        </div>
      </div> -->
    </div>
  </section>

  <section class="page-tools carousel">
<!--       <div class="carouselNav "> 
    <a class="carousel-control left"><i class="icon-angle-left"></i></a>
    <a class="carousel-control right"><i class="icon-angle-right"></i></a>
  </div> -->
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="  "  >
            <ul class="list1 owl-carousel">
              <li><a href="#!"><strong>Suverehvid Rehvikeskusest superhinnaga</strong> On aeg mõelda suvele. Loe lisa meie kodulehelt. <i class="icon-chevron-right"></i></a></li>
              <li><a href="article-all-options.html#link2"><strong>Toyota is the winner of Auto Bild Quality Report 2012</strong> For since the inception of the study in 2001, the brand is the fifth time at the top of the quality rankings.<i class="icon-chevron-right"></i></a></li>
              <li><a href="article-all-options.html#link3"><strong>Toyota most successful brand in the TUV report 2013</strong> 20 times in the Top 10 in 5 classes<i class="icon-chevron-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      
    </div>
  </section>

      <!-- <a href="#!" class="clndr-today-button">Today</a> -->
  <script id="calendar-template" type="text/template">
    <div class="col-xs-12 col-sm-6 col-md-5">
        <div class="controls">
          <div class="clndr-previous-button">&lsaquo;</div><div class="month"><%= month %> <%= year %></div><div class="clndr-next-button">&rsaquo;</div>
        </div>
        <div class="days-container">
          <div class="days">
            <div class="headers">
              <% _.each(daysOfTheWeek, function(day) { %><div class="day-header"><%= day %></div><% }); %>
            </div>
            <% _.each(days, function(day) { %><div id="<%= day.id %>" class="<%= day.classes %> 
              <% _.each(day.events, function(event){ %>
             <%= event.type %>
          <% }) %>

              " ><%= day.day %></div><% }); %>
          </div>
        </div>
      </div>

      
  </script>




<!-- Modal -->
<div class="modal fade" id="serviceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog fullscreen">
    
    <div class="modal-content">
      <div class="modal-body">
        <div class="toolbar">
        <a class="close-link" data-dismiss="modal" aria-label="Close">
          <div class="btn-back">
            <div class="btn-graphic" >
              <i class="icon-angle-left"></i>
            </div>
          </div>
          <span class="back-text">Tagasi <strong>lehele</strong></span>
        </a>
      </div>
       
        <!-- @include service-modal -->
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog fullscreen">
    
    <div class="modal-content">
      <div class="modal-body">
        <div class="toolbar">
          <a class="close-link" data-dismiss="modal" aria-label="Close">
            <div class="btn-back">
              <div class="btn-graphic" >
                <i class="icon-angle-left"></i>
              </div>
            </div>
            <span class="back-text">Tagasi <strong>lehele</strong></span>
          </a>
        </div>
         <!-- @include new-event-modal -->
      </div>
    </div>
  </div>
</div>


<!-- events template -->
<!-- //       <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-1">
//         <div class="event-listing quick-spec prices">
//     <% _.each(eventsThisMonth, function(event) { %>
//     <div class="event-item <%= event.type %>">
//       <div class="row">
//         <div class="col-sm-8">
//           <p class="title"><%= event.title %></p>
//         </div>
//         <div class="col-sm-4">
//           <a class="view-prices show-sv sv-callback3 btn-serviceModal" href="#serviceModal" data-target="#serviceModal" data-direction="right">Vaata / Muuda</a>
//         </div>
//       </div>
//       <div class="event-item-name">
//         <p class="quickspec-label"><%= moment(event.date).format('DD.MM') %> &nbsp;&nbsp;|&nbsp;&nbsp; <%= event.time %> &nbsp;&nbsp;| &nbsp;&nbsp;<%= event.location %></p>
//       </div>
//     </div>
  

// <% }); %>

          
//         </div>
//       </div> -->
