<section class="calendar hero-unit bg-image-hero background image0 skrollable skrollable-between " id="calendar">
    <div class="container">
      <div class="row">
        <div id="mini-clndr"></div>
          <!-- @include events-current-month -->
      </div>
    </div>
  </section>
      <!-- <a href="#!" class="clndr-today-button">Today</a> -->
  <script id="calendar-template" type="text/template">
    <div class="col-xs-12 col-sm-6 col-md-5">
        <div class="controls">
          <div class="clndr-previous-button">&lsaquo;</div><div class="month"><%= month %> <%= year %></div><div class="clndr-next-button">&rsaquo;</div>
        </div>
        <div class="days-container">
          <div class="days">
            <div class="headers">
              <% _.each(daysOfTheWeek, function(day) { %><div class="day-header"><%= day %></div><% }); %>
            </div>
            <% _.each(days, function(day) { %><div id="<%= day.id %>" class="<%= day.classes %> 
              <% _.each(day.events, function(event){ %>
             <%= event.type %>
          <% }) %>
              " ><%= day.day %></div><% }); %>
          </div>
        </div>
      </div>
  </script>

<!-- Modal -->
<div class="modal fade" id="serviceModal" tabindex="-1" role="dialog" aria-labelledby="serviceModal" aria-hidden="true">
  <div class="modal-dialog fullscreen">
    
    <div class="modal-content">
      <div class="modal-body">
        <div class="toolbar">
        <a class="close-link" data-dismiss="modal" aria-label="Close">
          <div class="btn-back">
            <div class="btn-graphic" >
              <i class="icon-angle-left"></i>
            </div>
          </div>
          <span class="back-text">Tagasi <strong>lehele</strong></span>
        </a>
      </div>
       
        <!-- @include service -->
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModal" aria-hidden="true">
  <div class="modal-dialog fullscreen">
    
    <div class="modal-content">
      <div class="modal-body">
        <div class="toolbar">
          <a class="close-link" data-dismiss="modal" aria-label="Close">
            <div class="btn-back">
              <div class="btn-graphic" >
                <i class="icon-angle-left"></i>
              </div>
            </div>
            <span class="back-text">Tagasi <strong>lehele</strong></span>
          </a>
        </div>
         <!-- @include service -->
      </div>
    </div>
  </div>
</div>


<!-- events template -->
<!-- //       <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-1">
//         <div class="event-listing quick-spec prices">
//     <% _.each(eventsThisMonth, function(event) { %>
//     <div class="event-item <%= event.type %>">
//       <div class="row">
//         <div class="col-sm-8">
//           <p class="title"><%= event.title %></p>
//         </div>
//         <div class="col-sm-4">
//           <a class="view-prices show-sv sv-callback3 btn-serviceModal" href="#serviceModal" data-target="#serviceModal" data-direction="right">Vaata / Muuda</a>
//         </div>
//       </div>
//       <div class="event-item-name">
//         <p class="quickspec-label"><%= moment(event.date).format('DD.MM') %> &nbsp;&nbsp;|&nbsp;&nbsp; <%= event.time %> &nbsp;&nbsp;| &nbsp;&nbsp;<%= event.location %></p>
//       </div>
//     </div>
  

// <% }); %>

          
//         </div>
//       </div> -->
