<section class="hero-unit bg-image-hero background">
    <div class="container">
      <div class="row padded">
        <div class="col-sm-7 intro" style="padding-top: 100px;">
          <h2>
            MinuToyota keskkond on ligipääs sinu autoga seonduvale infole ja headele pakkumistele.
          </h2>
          <br>
          <h5>Kalender - Parimad pakkumised - Lisavarustus - Juhendid ja videod</h5>
        </div>
      </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="well forms">
              <h1 class="padded">Sisene või loo konto</h1>
              <div class="row">
                <div class="col-sm-6 col-md-4">
                  <h5 class="form-label">E-mail</h5>
                  <input type="text" name="" value="">
                </div>
                <div class=" col-sm-6 col-md-4">
                  <h5 class="form-label">Salasõna<a tabindex="0" class="readMore lined" role="button" data-toggle="popover" data-trigger="focus" data-content="Siin on seletus"><i class="icon-info-sign"></i></a></h5>
                  <input type="text" name="" value="">
                </div>
                <div class=" col-sm-6 col-md-4 collapse" id="collapsePass">
                  <h5 class="form-label">Korda salasõna</h5>
                  <input type="text" name="" value="">
                </div>
                <div class="col-sm-6 col-md-4">
                  <h5>&nbsp;</h5>
                <button type="button" class="btn btn-dark btn-block" data-toggle="collapse" data-target="#collapsePass" id="collapseBtn">
                  Sisene / Loo konto
                </button>
                </div>
                <div class="col-xs-12 text-right">
                  <a href="#">Unustasid salasõna?</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>
      <!-- <a href="#!" class="clndr-today-button">Today</a> -->





<!-- Modal -->
<div class="modal fade" id="serviceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog fullscreen">
    
    <div class="modal-content">
      <div class="modal-body">
        <div class="toolbar">
        <a class="close-link" data-dismiss="modal" aria-label="Close">
          <div class="btn-back">
            <div class="btn-graphic" >
              <i class="icon-angle-left"></i>
            </div>
          </div>
          <span class="back-text">Tagasi <strong>lehele</strong></span>
        </a>
      </div>
       
        <!-- @include service -->
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog fullscreen">
    
    <div class="modal-content">
      <div class="modal-body">
        <div class="toolbar">
          <a class="close-link" data-dismiss="modal" aria-label="Close">
            <div class="btn-back">
              <div class="btn-graphic" >
                <i class="icon-angle-left"></i>
              </div>
            </div>
            <span class="back-text">Tagasi <strong>lehele</strong></span>
          </a>
        </div>
         <!-- @include new-event -->
      </div>
    </div>
  </div>
</div>


<!-- events template -->
<!-- //       <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-1">
//         <div class="event-listing quick-spec prices">
//     <% _.each(eventsThisMonth, function(event) { %>
//     <div class="event-item <%= event.type %>">
//       <div class="row">
//         <div class="col-sm-8">
//           <p class="title"><%= event.title %></p>
//         </div>
//         <div class="col-sm-4">
//           <a class="view-prices show-sv sv-callback3 btn-serviceModal" href="#serviceModal" data-target="#serviceModal" data-direction="right">Vaata / Muuda</a>
//         </div>
//       </div>
//       <div class="event-item-name">
//         <p class="quickspec-label"><%= moment(event.date).format('DD.MM') %> &nbsp;&nbsp;|&nbsp;&nbsp; <%= event.time %> &nbsp;&nbsp;| &nbsp;&nbsp;<%= event.location %></p>
//       </div>
//     </div>
  

// <% }); %>

          
//         </div>
//       </div> -->
