
    // ***********

.noselect {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}

@-webkit-keyframes greenPulse {
  from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes redPulse {

from { background-color: #bc330d; -webkit-box-shadow: 0 0 9px #333; }

50% { background-color: #e33100; -webkit-box-shadow: 0 0 18px #e33100; }

to { background-color: #bc330d; -webkit-box-shadow: 0 0 9px #333; }

}

@-webkit-keyframes bluePulse {

from { background-color: $colour-vi-cyan-1; -webkit-box-shadow: 0 0 9px #333; }

50% { background-color: $colour-vi-cyan-2; -webkit-box-shadow: 0 0 18px #2daebf; }

to { background-color: $colour-btn-blue-2; -webkit-box-shadow: 0 0 9px #333; }

}

@-webkit-keyframes orangePulse {

from { background-color: $colour-vi-orange-1; -webkit-box-shadow: 0 0 9px #333; }

50% { background-color: $colour-vi-orange-2; -webkit-box-shadow: 0 0 18px #e33100; }

to { background-color: $colour-vi-orange-1; -webkit-box-shadow: 0 0 9px #333; }

}

// .event-item.important {
//  @include trans(bg, $colour-vi-orange-1, .7);
// }

// .event-item.alerted {
//  @include trans(bg, $colour-vi-red-1, .7);
// }


#mini-clndr {
  margin: 0 auto;
  width: 100%;
  height: auto;
/*  -moz-box-shadow: 4px 4px 0 #343434;
  -webkit-box-shadow: 4px 4px 0 #343434;
  box-shadow: 4px 4px 0 #343434;*/

  .clndr {
    /*overflow-x: hidden;*/
    overflow-y: visible;
    /*border-bottom: 7px solid #69a776;*/

    .controls {
      
      // @include trans(bg, $colour-vi-cyan-1, .9);
      background-color: rgba(255, 255, 255, 0.5);

       .clndr-previous-button,
       .clndr-next-button {
        width: 15%;
        padding-top: 5px;
        padding-bottom: 5px;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        -webkit-user-select: none;
        /* Chrome/Safari */

        -moz-user-select: none;
        /* Firefox */

        -ms-user-select: none;
        /* IE10+ */

        -webkit-transition: background-color 0.5s;
        -moz-transition: background-color 0.5s;
        -ms-transition: background-color 0.5s;
        -o-transition: background-color 0.5s;
        transition: background-color 0.5s;
          &:hover {
          /*background-color: #528b5e;*/
          background-color: $colour-vi-red-1;
        }
      }
       .month {
        width: 70%;
        padding-top: 5px;
        padding-bottom: 5px;
        display: inline-block;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
      }
    }
    .days-container {
      position: relative;
      width: 100%;
      height: 186px;
      display: inline-block;
    
      .days {
        position: absolute;
        left: 0;
        /*width: 100%;*/
        /*height: auto;*/
        -webkit-transition: left 0.5s;
        -moz-transition: left 0.5s;
        -ms-transition: left 0.5s;
        -o-transition: left 0.5s;
        transition: left 0.5s;
        background-color: rgba(255, 255, 255, 0.5);
        .day,
        .empty {
          width: 14.285%;
          display: inline-block;
          padding-top: 12px;
          padding-bottom: 12px;
          font-size: 1em;
          text-align: center;
          color: #212121;
          border-right: 1px solid rgba(000, 000, 000, 0);
          border-bottom: 1px solid rgba(000, 000, 000, 0);
          // border-radius: 50%;
          &:hover {
            background: #000;
            opacity: 0.3;
            cursor: pointer;
          }
          // &:nth-of-type(5n+0) {
          //   border-left: 1px solid rgba(255, 255, 255, 0.9);
          // }
          &.event {
            background-color: rgba(255, 255, 255, 0.9);

            -webkit-transition: background-color 0.5s;
            -moz-transition: background-color 0.5s;
            -ms-transition: background-color 0.5s;
            -o-transition: background-color 0.5s;
            transition: background-color 0.5s;
            cursor: pointer;
          
            &:hover {
             
              // background-color: #0D77B6;
              background-color: rgba(30, 42, 50, 1);
            }
            &.important {
              -webkit-animation-name: orangePulse;
              -webkit-animation-duration: 2s;
              -webkit-animation-iteration-count: infinite;
            }
          }
          &.adjacent-month {
            color: rgba(0, 0, 0, 0.3);
          }
        }
        .empty {
          height: 31px;
          vertical-align: bottom;
        }
        .today {
          color:$colour-vi-red-2; 
        }
        .headers {
          background-color: rgba(255, 255, 255, 1);
          padding-top: 5px;
          padding-bottom: 5px;
          border-bottom: 1px solid #ddd;
          border-top: 1px solid #ddd;
            .day-header {
            width: 14.285%;
            display: inline-block;
            text-align: center;
            color: $text-color;
          }
        }
      }
    }
  }
}

