@import 
    'custom/T1-style',
    'custom/clndr',
    'side-modal',
    'modules';

    // ************

    .calendar.hero-unit {
      background: url('assets/img/Toyota-2014-AbstractCar_tcm-3028-59412.jpg');
      // background: url('http://t1-production-client.herokuapp.com/images/dealer-card-1.jpg');
      background-size: cover;
    }

    .spotlight {
      background: transparent;
    }

.calendar .container {
  padding-top: 70px;
  .dropdown-toggle {
    color: #fff;
    font-family: toyotatext_bd;
    font-size: 1.8rem;
    line-height: 2.2rem;
    i {
      padding-left: 10px;
    }
  }
}

.quick-spec {
  min-height: 20px;
  padding: 0;
  &.conclusion {
    background: transparent;
    padding: 9px;
    padding-bottom: 12px;
  }
  hr {
    margin-bottom: 9px;
  }
}

.quick-spec p.quickspec-label {
min-height: 15px;
}

.event-listing {
  color: #fff;
  .page-tools {
    margin: 0;
    opacity: 0.8;
  }
}

.event-item {
  padding: 9px;
}

.service h5 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.service-list li {
  margin-bottom: 10px;
}

.forms {
  background: #fff;
}

.padded {
  padding-bottom: 24px;
}

.readMore.lined {
  display: inline;
}

.icon.flagged {
  color: $colour-default-red;
}

.logo-logo-lvl2, .logo-logo-md-blue, .logo-logo-md-brown, .logo-logo-md-green, .logo-logo-md-lightblue, .logo-logo-md-purple, .logo-logo-md-red, .logo-logo-md-yellow, .logo-logo-sm, .logo-logo-xs, .logo-sprite {
background: url(../assets/images/sprites/logo-s6f7aa3aeee.png) no-repeat;
}



// .today {
//     border: 3px solid red;
//     border-radius: 30px;
//     left:20px;
//     top:214px;
//     -webkit-animation: pulsate 1s ease-out;
//     -webkit-animation-iteration-count: infinite; 
//     opacity: 0.0
// }
// @-webkit-keyframes pulsate {
//     0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
//     50% {opacity: 1.0;}
//     100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
// }





