<!-- <p class="quickspec-label">10 lähimat sündmust:</p>  -->
<div class="col-xs-12 col-md-6 col-md-offset-1">

  <div class="event-listing">
    <div class="event-items">
      <div class="event-item">
        <div class="row">
          <div class="col-xs-7 alerted">
            <h5><br><i class="icon-bookmark alerted"></i>Kaasreisija turvapadi vigane!</h5>
            <!-- <p class="quickspec-label">ASAP &nbsp;&nbsp;| &nbsp;&nbsp;Mustakivi Auto</p> -->
          </div>
          <div class="col-sm-5 text-right">
            <a class="btn btn-red btn-small  btn-serviceModal" href="#serviceModal" data-target="#serviceModal" data-direction="right">Loe lisa!</a>
          </div>
        </div>

      </div>

      <div class="event-item forms">
        <div class="row">
          <div class="col-xs-7 important">
            <h5><i class="icon-bookmark important"></i>Järgmine hooldus 30 000 km</h5>
            <p class="quickspec-label">19.03 &nbsp;&nbsp;| &nbsp;&nbsp;Mustakivi Auto</p>
          </div>
          <div class="col-sm-5 text-right">
            <a class="btn btn-link btn-small" href="#serviceDone" data-toggle="collapse" >Märgi <br>tehtuks</a>
            <a class="btn btn-small btn-red btn-serviceModal" href="#serviceModal" data-direction="right">Broneeri nüüd!</a>
          </div>
        </div>
        <div class="row collapse service-collapse" id="serviceDone">
          <div class="col-xs-12 col-sm-6 form">
            <h5 class="form-label">Läbisõit</h5>
            <input type="text" name="" value="">
          </div>
          <div class="col-xs-12 col-sm-6">
            <h5 class="form-label">Kuupäev</h5>
            <div class="input-group date">
              <input type="text" class="form-control" data-validation="length" min-length="5" placeholder="20-03-2015">
              <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div>
          </div>
          <div class="col-xs-12 text-right">
            <a href="" class="btn btn-small btn-link">Loobu</a>
            <a href="" class="btn btn-small btn-dark">Kinnita</a>
          </div>
        </div>
      </div>

      <div class="event-item past">
        <div class="row">
          <div class="col-xs-7">
            <h5>Autopesu ja vahatamine</h5>
            <p class="quickspec-label">14.03 &nbsp;&nbsp;|&nbsp;&nbsp; 14.00 - 16.00 &nbsp;&nbsp;| &nbsp;&nbsp;Mustakivi Auto</p>
          </div>
          <div class="col-sm-5 text-right">
            <a class="btn btn-link btn-small  btn-serviceModal" href="#serviceModal" data-target="#serviceModal" data-direction="right">Vaata</a>
          </div>
        </div>
      </div>

      <div class="event-item past last">
        <div class="row">
          <div class="col-xs-7">
            <h5>Autopesu</h5>
            <p class="quickspec-label">14.03 &nbsp;&nbsp;|&nbsp;&nbsp; 14.00 - 16.00 &nbsp;&nbsp;| &nbsp;&nbsp;Mustakivi Auto</p>
          </div>
          <div class="col-sm-5 text-right">
            <a class="btn btn-link btn-small  btn-serviceModal" href="#serviceModal" data-target="#serviceModal" data-direction="right">Vaata</a>
          </div>
        </div>
      </div>
      
      <div class="event-item ">
        <div class="row">
          <div class="col-xs-7">
            <h5>Rehvivahetus</h5>
            <p class="quickspec-label">23.03 &nbsp;&nbsp;|&nbsp;&nbsp; 14.00 - 16.00 &nbsp;&nbsp;| &nbsp;&nbsp;Kummimeister</p>
          </div>
          <div class="col-sm-5 text-right">
            <a class="btn btn-link btn-small btn-serviceModal" href="#serviceModal" data-target="#serviceModal" data-direction="right">Vaata / Muuda</a>
          </div>
        </div>
      </div>

      <div class="event-item ">
        <div class="row">
          <div class="col-sm-7">
            <h5>Hooldus</h5>
            <p class="quickspec-label">07.03 &nbsp;&nbsp;|&nbsp;&nbsp; 14.00 - 16.00 &nbsp;&nbsp;| &nbsp;&nbsp;Mustakivi Auto</p>
          </div>
          <div class="col-sm-5 text-right">
            <a class="btn btn-link btn-small btn-serviceModal" href="#serviceModal" data-target="#serviceModal" data-direction="right">Vaata / Muuda</a>
          </div>
        </div>

      </div>
    </div>

    <hr>
    <div class="conclusion">
      <div class="row">
        <div class="col-sm-12">
          <!-- <p class="quickspec-label">Mustakivi Auto ; Teenindus: +372 6502 111; E-kiri: info.jarve@amserv.ee </p> -->

          <div class="btn-group">
        <a href="#" class="btn btn-grey " >Varasemad sündmused</a>
        <a href="#" class="btn btn-grey ">Ainult hooldused</a>
        <button class="btn btn-grey active " data-bt-value="view_all" data-bt-track="">Vaata kõiki</button>

      </div>
      <button type="button" class="btn btn-dark btn-eventModal right" data-target="#eventModal" data-direction="right">Broneeri aeg</button>

          <!-- <ul class="list2">

            <li><a class="btn  btn-grey btn-small" href="article-all-options.html#tag1">Varasemad sündmused</a></li>
            <li><a class="btn btn-grey btn-small" href="article-all-options.html#tag3">Ainult hooldused</a></li>
            <li><a class="btn btn-grey btn-small" href="article-all-options.html#tag4">Näita kõiki</a></li>
            <li class="text-right"><button type="button" class="btn btn-red btn-small btn-eventModal" data-target="#eventModal" data-direction="right">Lisa sündmus</button></li>
          </ul> -->



        </div>


      </div>
    </div>

  </div>
</div>
