<nav id="nav-primary" class="navbar navbar-fixed-top">
  <div class="navbar-inner container">
    <div class="float-left large-nav ">
      <a id="dropdown-button-car" class="dropdown-toggle visible-xs" data-toggle="dropdown" role="button" data-action-target="#dropdown-menu-car">
        <i class="icon-menu visible-xs"></i>
      </a>
      <a class="hidden-xs">
        <span class="link ">Auris 123ABC</span>
      </a>
      <a class="hidden-xs">
        <span class="link">Corolla 123ABC</span>
      </a>
      <a class="hidden-xs">
        <span class="link">Hilux 123ABC</span>
      </a>
      <a class="hidden-xs dropdown-toggle" data-toggle="dropdown" role="button"  id="dropdown-button-car">
        <span class="link">...</span>
      </a>

      <div id="dropdown-menu-car" class="dropdown-menu fluid" aria-labelledby="dropdown-menu-1" role="menu">
        <div class="maincontainer">
          <nav class="container navigation-menu clearfix hidden-xs">
            <ul class="columned">
              <li><a href="#">Hilux 123ABC</a></li>
              <li><a href="#">Hilux 123ABC</a></li>
              <li><a href="#">Hilux 123ABC</a></li>

              <li><a href="#">Hilux 123ABC</a></li>

              <li><a href="#">Hilux 123ABC</a></li>

              <li><a href="#">Hilux 123ABC</a></li>

              <li><a href="#">Hilux 123ABC</a></li>


            </ul>
          </nav>
          <!--       Nav mobile -->
          <nav class="container navigation-menu clearfix visible-xs">
            <ul>
              <li><a href="#" class="btn btn-red btn-full-width active">Auris 123ABC</a></li>
              <li><a class="btn-full-width raw-btn scrollTo" href="#calendar">Kalender<i class="icon-chevron-down"></i></a></li>
              <li><a class="btn-full-width raw-btn scrollTo btn-serviceModal" href="#serviceModal" data-direction="right">Broneeri hooldus<i class="icon-chevron-down"></i></a></li>
              <li><a class="btn-full-width raw-btn scrollTo" href="#offers">Eripakkumised<i class="icon-chevron-down"></i></a></li>
              <li><a class="btn-full-width raw-btn scrollTo" href="#baseData">Auto andmed<i class="icon-chevron-down"></i></a></li>
              <li><a class="btn-full-width raw-btn scrollTo" href="#accessories">Lisavarustus<i class="icon-chevron-down"></i></a></li>
              <li><a class="btn-full-width raw-btn scrollTo" href="#videos">Videod<i class="icon-chevron-down"></i></a></li>
              <li><a class="btn-full-width raw-btn scrollTo" href="#services">Hooldused<i class="icon-chevron-down"></i></a></li>
              <li><a class="btn-full-width raw-btn scrollTo" href="#contact">Tagasiside<i class="icon-chevron-down"></i></a></li>
            </ul>
            <ul>
              <li><a href="#" class="btn btn-red btn-full-width">Corolla 123ABC<i class="icon-chevron-right"></i></a></li>
              <li><a href="#" class="btn btn-red btn-full-width">Hilux 123ABC<i class="icon-chevron-right"></i></a></li>
            </ul>
            <ul class="language-selector">
              <li>
                <a href="profile.html"><h5>Minu konto</h5></a>
              </li>
              <li>
                <a href="./login.html"><h5>Välju</h5></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="float-right">
      <a href="index.html" id="logo-small" class="logo-link visible-xs visible-sm logo-logo-xs"></a>
      <a href="index.html" id="logo-medium" class="logo-link hidden-xs hidden-sm logo-logo-sm"></a>
      <a href="index.html" id="logo-big" class="logo-link hidden-xs hidden-sm logo-logo-md-red"></a>
    </div>
    <div class="float-right large-nav">
      <a href="profile.html" class="hidden-xs">
        <span class="link">Minu konto</span>
      </a>
      <a href="./login.html" class="hidden-xs">
        <span class="link">Välju</span>
      </a>
    </div>
  </div>
</nav>



<!-- Start secondary nav -->
<div id="nav-secondary-level" class="hidden-xs">
  <ul class="container">
    <li class="active">
      <a class="scrollTo" href="#calendar">Kalender</a>
    </li>
    <li class="">
      <a class="scrollTo" href="#offers">Eripakkumised</a>
    </li>
    <li class="">
      <a class="scrollTo" href="#baseData">Auto andmed</a>
    </li>
    <li class="">
      <a class="scrollTo" href="#accessories">Lisavarustus</a>
    </li>
    <li class="">
      <a class="scrollTo" href="#videos">Videod</a>
    </li>
    <li class="">
      <a class="scrollTo" href="#services">Hooldused</a>
    </li>
    <li class="">
      <a class="scrollTo" href="#contact">Tagasiside</a>
    </li>
    <li class="alerted">
      <a class=" btn-serviceModal" href="#serviceModal" data-direction="right">Broneeri hooldus!</a>
    </li>
  </ul>
</div>
