<nav id="nav-primary" class="navbar navbar-fixed-top">
  <div class="navbar-inner container">
    <div class="float-left large-nav dropdown">
      <img src="assets/img/minuto.png" alt="">
    </div>
    <div class="float-right">
      <a href="index.html" id="logo-small" class="logo-link visible-xs visible-sm logo-logo-xs"></a>
      <a href="index.html" id="logo-medium" class="logo-link hidden-xs hidden-sm logo-logo-sm"></a>
      <a href="index.html" id="logo-big" class="logo-link hidden-xs hidden-sm logo-logo-md-red"></a>
    </div>
  </div>
</nav>

