<nav id="nav-primary" class="navbar navbar-fixed-top">
  <div class="navbar-inner container">
    <div class="float-left large-nav">
      <a href="./index.html">
        <span class="link"><i class="icon-chevron-left"></i>  Tagasi</span>
      </a>
    </div>
    <div class="float-right">
      <a href="index.html" id="logo-small" class="logo-link visible-xs visible-sm logo-logo-xs"></a>
      <a href="index.html" id="logo-medium" class="logo-link hidden-xs hidden-sm logo-logo-sm"></a>
      <a href="index.html" id="logo-big" class="logo-link hidden-xs hidden-sm logo-logo-md-red"></a>
    </div>
    <div class="float-right large-nav hidden-xs">
      <a href="profile.html" class="active">
        <span class="link hidden-xs" style="font-family: toyotatext_rg">Minu konto</span>
      </a>
      <a href="./login.html">
        <span class="link hidden-xs" style="font-family: toyotatext_rg">Välju</span>
      </a>
    </div>
  </div>
</nav>
