<nav id="nav-primary" class="navbar navbar-fixed-top">
  <div class="navbar-inner container">
    <div class="float-left large-nav dropdown">
      <a id="dropdown-button-car" class="dropdown-toggle" data-toggle="dropdown" role="button" href="error.html#" data-bt-track="" data-bt-action="menu_click" data-bt-eventclass="componentEvent" data-bt-category="component" data-bt-name="site_search_menu" data-action-target="#dropdown-meau-car">
        <span class="link hidden-xs">Menüü</span>
        <i class="icon-chevron-down hidden-xs hidden-sm"></i>
        <i class="icon-menu visible-xs"></i>
      </a>
      <ol id="menu-breadcrumb" class="breadcrumb">
        <li>Minu konto<i>/</i></li>
        <li class="active">Sven Peekmann<i>/</i></li>
      </ol>

      <div id="dropdown-menu-car" class="dropdown-menu fluid" aria-labelledby="dropdown-menu-1" role="menu">
        <div class="maincontainer">
        <nav class="container navigation-menu clearfix hidden-xs">
          <div class="row">
            <div class="col-sm-12 col-md-6 model-list">
              <div class="row">
                <a class="col-sm-3 col-md-4" href="#">
                  <img width="150" height="95" alt="iq" src="http://toyota-stage.amaze.com/inc/images/nav-models/model-menu-iq.png">
                  <span>
                    <strong>IQ</strong> 123ABC
                  </span>
                  <div class="label hybrid">hybrid</div>
                </a>
                <a class="col-sm-3 col-md-4" href="#">
                  <img width="150" height="95" alt="aygo" src="http://toyota-stage.amaze.com/inc/images/nav-models/model-menu-aygo.png">
                  <span>
                    <strong>Aygo</strong> 234CBO
                  </span>
                </a>
                <a class="col-sm-3 col-md-4" href="carchapter-index.html">
                  <img alt="Yaris" src="http://toyota-stage.amaze.com/inc/images/nav-models/model-menu-yaris.png" />
                  <span>
                    <strong class="hybrid-only">Yaris</strong> 567NBO
                  </span>
                </a>
                <a class="col-sm-3 col-md-4" href="#">
                  <img width="150" height="95" alt="versos" src="http://toyota-stage.amaze.com/inc/images/nav-models/model-menu-verso-s.png">
                  <span>
                    <strong>Verso-S</strong> From €18,000.00
                  </span>
                </a>
                <a class="col-sm-3 col-md-4" href="#">
                  <img width="150" height="95" alt="urbancruiser" src="http://toyota-stage.amaze.com/inc/images/nav-models/model-menu-urban-cruiser.png">
                  <span>
                    <strong>Urban Cruiser</strong> From €18,000.00
                  </span>
                </a>
              </div>
            </div>
            <ul class="col-sm-6 col-md-3 link-list">
              <li class="link-block">
                <h5>Seaded</h5>
                <ul>
                  <li><a href="profile.html">Minu konto</a></li>
                  <li><a href="http://www.toyota.ee/">Logi välja</a></li>
                </ul>
              </li>
            </ul>
            <ul class="col-sm-6 col-md-3 link-list">
              <li class="link-block language-selector form">
                <h5>Vaheta keelt:</h5>
                <ul>
                  <li>
                    <input id="options-1" type="radio" name="options" value="/mockups/pages/empty-language-nl.html" checked>
                    <label for="options-1">Eesti</label>
                  </li>
                  <li>
                    <input id="options-2" type="radio" name="options" value="/mockups/pages/empty-language-fr.html">
                    <label for="options-2">Läti</label>
                  </li>
                  <li>
                    <input id="options-3" type="radio" name="options" value="/mockups/pages/empty-language-de.html">
                    <label for="options-3">Leedu</label>
                  </li>
                  <li>
                    <input id="options-3" type="radio" name="options" value="/mockups/pages/empty-language-de.html">
                    <label for="options-3">Vene</label>
                  </li>
                  <li>
                    <input id="options-3" type="radio" name="options" value="/mockups/pages/empty-language-de.html">
                    <label for="options-3">Inglise</label>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>

  <!--       Nav mobile -->
        <nav class="container navigation-menu clearfix visible-xs">
          <ul class="language-selector form">
            <li>
              <h5>Vaheta keelt:</h5></li>
            <li>
              <input id="options-1" type="radio" name="options" value="/mockups/pages/empty-language-nl.html" checked>
              <label for="options-1">Eesti</label>
            </li>
            <li>
              <input id="options-2" type="radio" name="options" value="/mockups/pages/empty-language-fr.html">
              <label for="options-2">Läti</label>
            </li>
            <li>
              <input id="options-3" type="radio" name="options" value="/mockups/pages/empty-language-de.html">
              <label for="options-3">Leedu</label>
            </li>
            <li>
              <input id="options-3" type="radio" name="options" value="/mockups/pages/empty-language-de.html">
              <label for="options-3">Vene</label>
            </li>
            <li>
              <input id="options-3" type="radio" name="options" value="/mockups/pages/empty-language-de.html">
              <label for="options-3">Inglise</label>
            </li>
          </ul>
          <!-- <ul>
            <li><a href="#" class="btn btn-red btn-full-width">Minu autod<i class="icon-chevron-right"></i></a></li>
          </ul> -->
          <ul>
            <li><a class="btn-full-width raw-btn" href="error.html">IQ 123ABC<i class="icon-chevron-right"></i></a></li>
            <li><a class="btn-full-width raw-btn" href="error.html">Aygo 234CBO<i class="icon-chevron-right"></i></a></li>
            <li><a class="btn-full-width raw-btn" href="error.html">Yaris 567NBO<i class="icon-chevron-right"></i></a></li>
            <li><a class="btn-full-width raw-btn" href="error.html">Verso-S 678HBO<i class="icon-chevron-right"></i></a></li>
            <li><a class="btn-full-width raw-btn" href="error.html">Urban Cruiser 366TRO<i class="icon-chevron-right"></i></a></li>
          </ul>
          <ul>
            <li><a href="../forms/forms.html%3Ftab=pane-testdrive.html" class="btn btn-red btn-full-width">Hooldused Baltikumis<i class="icon-chevron-right"></i></a></li>
            <li><a href="../forms/forms.html%3Ftab=pane-brochure.html" class="btn btn-red btn-full-width">Kasulik<i class="icon-chevron-right"></i></a></li>
            <li><a href="../forms/forms.html%3Ftab=pane-contact.html" class="btn btn-red btn-full-width">Kontakt<i class="icon-chevron-right"></i></a></li>
            <li>
            </li>
          </ul>
        </nav>
        </div>
      </div>
    </div>
    <div class="float-right">
      <a href="index.html" id="logo-small" class="logo-link visible-xs visible-sm logo-logo-xs"></a>
      <a href="index.html" id="logo-medium" class="logo-link hidden-xs hidden-sm logo-logo-sm"></a>
      <a href="index.html" id="logo-big" class="logo-link hidden-xs hidden-sm logo-logo-md-red"></a>
    </div>
  </div>
</nav>
