<div class="in-modal forms service modal-header">
  <div class="row">
    <div class="col-sm-12">
      <h1> 30 000 km hoolduse aja broneerimine</h1>
      <h3 class="text-center">TOYOTA GT86 123ABC</h3>
    </div>
  </div>
  <div class="row form">

    <div class="col-xs-12 col-sm-6 col-md-3">
      <h5 class="form-label">Esindus</h5>
        <div class="dropdown" data-select="time">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-validation="select" href="#!">
            <span>Amserv Järve</span>
            <i class="icon-chevron-down"></i>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="forms.html%3Ftab=pane-contact.html#" data-value="0900">Järgmine koht</a></li>
            <li><a href="forms.html%3Ftab=pane-contact.html#" data-value="0900">Järgmine koht</a></li>
            <li><a href="forms.html%3Ftab=pane-contact.html#" data-value="0900">Järgmine koht</a></li>

          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6  col-md-3">
      <h5>Hoolduse liik:</h5>
      <ul>
        <li>
          <input type="radio" name="options" id="options-00" checked>
          <label for="options-00">Tavahooldus (maksumus 328 €)</label>
        </li>
        <li>
          <input type="radio" name="options" id="options-11">
          <label for="options-11">Express Service (maksumus 328 €) </label><a tabindex="0" class="readMore lined" role="button" data-toggle="popover" data-trigger="focus" data-content="Siin on info"><i class="icon-info-sign"></i></a>
        </li>
        <li>
          <input type="radio" name="options" id="options-22">
          <label for="options-22">Tavahooldus rehvivahetusega (maksumus 328 €) </label><a tabindex="0" class="readMore lined" role="button" data-toggle="popover" data-trigger="focus" data-content="Siin on info"><i class="icon-info-sign"></i></a>
        </li>

      </ul>

    </div>
    <!-- date -->
    <div class="col-xs-12 col-sm-6 col-md-2">
      <h5 class="form-label">Kuupäev</h5>
      <div class="input-group date">
        <input type="text" class="form-control" data-validation="length" min-length="5" placeholder="20-03-2015">
        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
      </div>
    </div>
    <!-- time -->
    <div class="col-xs-12 col-sm-6 col-md-3">
      <h5 class="form-label">Kell</h5>
      <div class="dropdown" data-select="time">
        <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-validation="select" href="forms.html%3Ftab=pane-contact.html#">
          <span>12:00-13:00</span>
          <i class="icon-chevron-down"></i>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="forms.html%3Ftab=pane-contact.html#" data-value="0900">09:00-10:00</a></li>
          <li><a href="forms.html%3Ftab=pane-contact.html#" data-value="1000">10:00-11:00</a></li>
          <li><a href="forms.html%3Ftab=pane-contact.html#" data-value="1100">11:00-12:00</a></li>
          <li><a href="forms.html%3Ftab=pane-contact.html#" data-value="1200">12:00-13:00</a></li>
          <li><a href="forms.html%3Ftab=pane-contact.html#" data-value="1300">13:00-14:00</a></li>
          <li><a href="forms.html%3Ftab=pane-contact.html#" data-value="1400">14:00-15:00</a></li>
          <li><a href="forms.html%3Ftab=pane-contact.html#" data-value="1500">15:00-16:00</a></li>
          <li><a href="forms.html%3Ftab=pane-contact.html#" data-value="1600">16:00-17:00</a></li>
        </ul>
      </div>
    </div>
    <!-- <div class="col-xs-12 col-sm-6 col-md-2">
        <h5 class="form-label">Maksumus:<a tabindex="0" class="readMore lined" role="button" data-toggle="popover" data-trigger="focus" data-content="Siin on disclaimer"><i class="icon-info-sign"></i></a></h5>
        <h3 class="page-tools pric">328 €</h3>
      </div> -->
  </div>

<div class="row form">
  <!-- <div class="col-xs-12 col-sm-6 col-md-3">
      <h5>Minu autol võib vahetada või lisada:</h5>
      <ul>
        <li>
          <input type="checkbox" name="options" id="options-0" value="showroom" checked>
          <label for="options-0">Klaasipesuvedelik</label>
        </li>
        <li>
          <input type="checkbox" name="options" id="options-1" value="usedcars" checked>
          <label for="options-1">Pirnid</label>
        </li>
        <li>
          <input type="checkbox" name="options" id="options-2" value="fastfit">
          <label for="options-2">Klaasipuhastajad</label>
        </li>
      </ul>
    </div> -->
    <div class="col-xs-12  col-sm-6 col-md-11">
      <h5 class="form-label">Palun vaadata autol üle:</h5>
      <textarea maxlength="1024" name="message" data-validation="length" min-length="5" placeholder="Nt rehvivahetus, vasak ratas koliseb imelikult vmt."></textarea>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-11 form-btn">
      <a href="#" class="btn btn-dark">Kinnita</a>
      <a class="btn btn-grey collapsed"  data-toggle="collapse" href="#servicesListed" aria-expanded="false" aria-controls="servicesListed">Hooldustööde nimekiri <i class="icon-chevron-down"></i></a>
      <a class="btn btn-link"  data-dismiss="modal">Katkesta</a>
    </div>
  </div>

  <div class="collapse" id="servicesListed">
    <div class="row page-tools">
      <div class="col-sm-8 col-sm-offset-1">
        <h5 class="form-label">Tegevuste loetelu</h5>
        <ol class="service-list">
          <li>Jalamati kinnituse kontroll</li>
          <li>Piduripedaali kõrguse ja seisupiduri töötamise kontroll</li>
          <li>Tulede (ka salongi- ja armatuurivalgustus) ja helisignaali kontroll (vajadusel lampide vahetus lisatööna)</li>
          <li>Klaasipuhastite ja -pesurite (ka laternapesurid) töötamise kontroll</li>
          <li>Sisepõlemismootori jahutusvedeliku taseme ja külmakindluse kontroll</li>
          <li>Määrde-, jahutus- ja soojendussüsteemide voolikute ja liidete kontroll</li>
          <li>Aku kontroll: vedelikutase, kinnitus, klemmide puhtus ja kinnitus</li>
          <li>Akutesti tegemine Midtronics akutestriga ja aku seisukorra märkimine kontroll-lehele</li>
          <li>Mootori abirihmade kontroll ja pingutus (vajadusel vahetus lisatööna)</li>
          <li>Mootori õhufiltri kontroll ja puhastus</li>
          <li>Rehvi remontgeeli "Parim enne" kuupäeva kontroll (vajadusel vahetus kliendi nõusolekul</li>
          <li>Ketaspidurite kontroll (hõõrdkatted ja kettad, vajadusel vahetus lisatööna) ja hooldus (puhastamine ja määrimine), 15 000 km hoolduses ainult kontroll</li>
          <li>Seisupiduritrumlite kontroll ja puhastus ning piduriklotside hõõrdkatete paksuse kontroll (vajadusel vahetus lisatööna)</li>
          <li>Rehvirõhkude kontroll (vajadusel korrigeerimine) ja rehvi kulumise mõõtmine</li>
          <li>Rooliliigendite kaitsekatete ja roolilõtku kontroll</li>
          <li>Alusvankri kontroll: summuti kinnitused ja korrosioon; piduri- ja kütusetorude ja -voolikute murdumine, lekkimine ja korrosioon; kuulliigendite ja veovõllide ning nende kummist kaitsekatete kontroll</li>
          <li>Põhja ja värvipinna korrosiooni kontroll (kaitsekihi lisamine vajadusel lisatööna)</li>
          <li>Jõuülekande lekete kontroll</li>
          </ol>
      </div>
    </div>
  </div>
</div>
