/* =============================================================================
 * controls
 * ========================================================================== */
.page-buttons {
	color: $colour-default-grey-2;
	list-style-type: none;
	padding: 0;
	li {
		float: left;
		a {
			margin-bottom: 20px;
			text-decoration: none;
			width: 230px;
			display: inline-block;
			@include font-size(13, 1.6);
		}
	}
}

/* =============================================================================
 * links/buttons
 * ========================================================================== */
a, button, .checkbox-btn {
	cursor: pointer;
	color: $colour-default-grey-1;
  	outline: 0 none;
	&:hover {
        // removing this cause it's messing with *every* anchor and button tag, which would be fine if everyother anchor didn't anyother styling
		//color: $colour-default-red;
	  	outline: 0 none !important;
	}
  	&:focus {
	  	outline: 0 none !important;
	}
	&.btn {
		border: none;
		@include font-size($font-size-base-mixins);
		border-radius: $border-radius-default;
		padding: 11px 14px 16px;
		box-shadow: 0 1px 1px rgba(0,0,0,.15), inset 0 0 1px rgba(30,42,50,.5);
		text-decoration: none;
		color: $colour-default-grey-1;
		line-height: normal;
		&:hover {
			text-decoration: underline;
		}
		&:active {
			text-decoration: underline;
			box-shadow: inset 0 0 8px rgba(30,42,50,.6);
		}
		i {
			display: inline-block;
			text-decoration: none;
		}
		label {
			margin-bottom: 0px;
		}
	}
	&.btn-grey {
		color: $colour-default-grey-2 !important;
		background-color: $colour-btn-grey-2;
		@include gradient-vertical($colour-btn-grey-2, $colour-btn-grey-1);
		&:active, &:focus, &:hover{
			color: $colour-default-grey-2;
			background: $colour-btn-grey-1;
		  	outline: thin dotted #333333;
		  	outline-offset: -2px;
		}
	}
	&.btn-dark {
		color: $colour-default-white;
		background-color: $colour-btn-dark-2;
		@include gradient-vertical($colour-btn-dark-2, $colour-btn-dark-1);
		&:active, &:focus, &:hover  {
			background: $colour-btn-dark-1;
			color: $colour-default-white;
		}
		label:before{
			background-color: transparent;
			border-color: $colour-default-white;
		}
		label:after{
			border-color: $colour-default-white !important;
		}
	}
	&.btn-blue {
		margin-top:1px;
		border: 0px solid white !important;
		color: $colour-default-white;
		background-color: $colour-btn-blue-1;
		@include gradient-vertical($colour-btn-blue-2, $colour-btn-blue-1);
		&:active, &:focus, &:hover {
			background: $colour-btn-blue-1;
			color: $colour-default-white;
		}
	}
		&.btn-orange {
		margin-top:1px;
		border: 0px solid white !important;
		color: $colour-default-white;
		background-color: $colour-vi-orange-1;
		@include gradient-vertical($colour-vi-orange-1, $colour-vi-orange-2);
		&:active, &:focus, &:hover {
			background: $colour-vi-orange-1;
			color: $colour-default-white;
		}
	}
	&.btn-red {
		text-decoration: none;
		color: $colour-default-white;
		background-color: $colour-btn-red-2;
		border: none;
		@include gradient-vertical($colour-btn-red-2, $colour-btn-red-1);
		&:active, &:focus, &:hover {
			background: $colour-btn-red-1;
			color: $colour-default-white;
		}
	}
	&.btn-yellow {
		color: $colour-default-white;
		background-color: $colour-btn-yellow-2;
		@include gradient-vertical($colour-btn-yellow-2, $colour-btn-yellow-1);
		&:active, &:focus, &:hover{
			background: $colour-btn-yellow-1;
			color: $colour-default-white;
		}
	}
	&.btn-success {
		text-decoration: none;
		color: $colour-default-white;
		background-color: $colour-vi-green-2;
		border: none;
		@include gradient-vertical($colour-vi-green-1, $colour-vi-green-2);
		&:before {
			content: "\f00c";
			font-family: 'toyotaicons' !important;
			padding-right: 10px;
		}
		&:active, &:focus, &:hover {
			background: $colour-vi-green-2;
			color: $colour-default-white;
		}
	}
	&.btn-small {
		font-size: _em(13px);
		padding: 8px 12px 11px;
	}
	&.btn-simple {
		padding: 8px 10px;
		border-radius: 2px;
		color: $colour-default-white;
		font-family: $font-toyota-text-bold;
		font-size: 12px;
		border: none;
		box-shadow: none;
		text-decoration: none;
		@include trans(bg, black, 0.3);
		&:hover {
			text-decoration: underline;
			@include trans(bg, black, 0.4);
		}
	}
	&.btn-full-width {
		display: block;
		text-align: left;
		position: relative;
	  	white-space: normal;
		i {
			//float: right;
			//margin-top: 5px;
			position: absolute;
			right: 10px;
			top: 16px;
		}
	}

	&.btn-circle {
		border-radius: $border-radius-circle;
		padding: 1px 5px;
		&.btn-circle-grey {
			background: $colour-default-grey-8;
		}
	}
	&.btn-link {
		font-weight: normal;
		cursor: pointer;
		border-radius: 0;
	  	border-color: transparent !important;
		&,
		&:active,
		&[disabled],
		fieldset[disabled] & {
			background-color: transparent;
			@include box-shadow(none);
		}
		&,
		&:hover,
		&:focus,
		&:active {
			border-color: transparent;
		}
		&:hover,
		&:focus {
			color: $colour-default-grey-1;
			text-decoration: underline;
			background-color: transparent;
		}
		&[disabled],
		fieldset[disabled] & {
			&:hover,
			&:focus {
				color: $btn-link-disabled-color;
				text-decoration: none;
			}
		}
	}
	&.btn-reset {
		i {
			color: $colour-vi-coolgrey5-1;
			margin-left:5px;
		}
	}
}

.filter-bar {
	border-bottom: 1px solid #E3E4E5;
	@media screen and (max-width: $screen-sm ){
		height: 100%;
		border-bottom: none;
	}
	@media screen and (min-width: $screen-sm + 1){
		height: 14px;
	}
	margin-bottom: 30px;
	text-align: center;

	.btn-group {
		margin-top: -12px;
		background-color: $colour-default-white;
		padding: 0 10px;
	}
	.btn-toolbar {
		display: inline-block;
		.btn-group + .btn-group {
			margin-left: 0;
		}
	}
	a.active {
		background: $colour-btn-grey-1;
		box-shadow: inset 0 0 8px rgba(30,42,50,.6);
	}
}

.btn-group {
	.btn {
		box-shadow: none;
		border: 1px solid $colour-share-grey-separator;
		&.active {
			background: $colour-btn-grey-1;
			box-shadow: 0 0 8px rgba(30, 42, 50, 0.6) inset;
		}
	}
}


html.no-cssgradients {
	// with the IE9 "filter" rule, border-radius doesn't get applied, so disable that rule on offending elements:
	div.topFeature {
		a.btn.btn-default {
			filter:none;
		}
	}
}



.checkbox.dark {
	min-height: 0;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 0;
	@media screen and (max-width: $screen-sm - 1){
		@include clearfix();
		margin-top: 0;
		margin-bottom: 0;
		label {
			float: left;
			max-width: 70%;
			line-height: 18px;
			line-height: 1.8rem;
		}
	}

	label {
		margin-left: 15px;
	}
}

.radio.dark {
	min-height: 0;
	margin-top: 4px;
	margin-bottom: 12px;
	padding-left: 0;
	@media screen and (max-width: $screen-sm -1){
		@include clearfix();
	}

	label {
		margin-left: 15px;
	}
}

.darker .dark-bt-wrapper {
	background: transparent;
	border-radius: 2px;
	cursor: pointer;
	display: inline-block;
	vertical-align: bottom;
	width: 19px;
	height: 19px;
	pointer-events: auto;

	@media screen and (max-width: $screen-sm - 1){
		@include clearfix();
		float: left;
	}

	input[type="checkbox"], input[type="radio"] {
		width: 17px;
		height: 17px;
		margin-left: 0;
		margin-top: 0;
		z-index: 10;
		cursor: pointer;
		float: none;
		position: absolute;
		left: 0;
		top: 0;
	}

	i {
		@include font-size(16);
	}
}

.darker .radio .dark-bt-wrapper {
	border: none;
	width: 23px;
	height: 21px;

	&:before {
		display: block;
		font-family: 'toyotaicons';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		@include font-size(19);
		content: "\e605";
	}

	i {
		@include font-size(19);
		left: 0;
		top: 0;
	}
}

// touch device hover fix
.touch {
	a:hover {
		p, figcaption {
			color: $colour-default-grey-1 !important;
		}
	}
}

// for some reason sometimes IE8+9 will forget hover rules on btn.
.le-ie9,.eq-ie9 {
	.btn {
		&:hover {
			filter: none;
		}
	}
}

@media (min-width: $screen-sm) {
	.btn {
		&.hidden-xs {
			display: inline-block !important;
		}
	}
}