<section class="promotions carousel" id="offers">
  <div class="carouselNav"> 
    <a class="carousel-control left"><i class="icon-angle-left"></i></a>
    <a class="carousel-control right"><i class="icon-angle-right"></i></a>
  </div>
  <div class="container">
    <header class="section-title">
      <h1>Toyota pakkumised</h1>
    </header>
  </div>

  <div class="container">

    <div class="row">
      <div class="owl-carousel-1">
      
        <div class="filterable">
        <!-- promotion-list-group-info.nj : begin -->
        <ul class="list-group" data-bt-eventclass="promotionevent" data-bt-category="component" data-bt-componentname="promotions">
          <li class="list-group-item" data-bt-action="view_promotion" data-bt-ispromotion="1">
            <a href="/new-cars/auris/promo/auris-promo.json" data-bt-track="" data-bt-ispromotion="1" data-bt-promotionid="tcm-3019-226975-64" data-bt-action="view_promotion" data-bt-value="/new-cars/auris/promo/auris-promo.json">
              <img src="http://d1hu588lul0tna.cloudfront.net/toyotaone/eeet/Hybrid_Auris_555x249_EST_tcm-3019-296002.jpg" alt="Toyota Öko+ Auris ja Auris Hybrid eripakkumine">
            </a>
          </li>
          <li class="list-group-item">
            <a href="/new-cars/auris/promo/auris-promo.json" data-bt-track="" data-bt-ispromotion="1" data-bt-promotionid="tcm-3019-226975-64" data-bt-action="view_promotion" data-bt-value="/new-cars/auris/promo/auris-promo.json">
              <div class="promo-headlines">
                <h4>Toyota Öko+ Auris ja Auris Hybrid eripakkumine<i class="icon-tag"></i></h4></div>
              </a>
            </li><li class="list-group-item finance-rate">
            <p>Vaata boonuspakkumisi kõikidele Aurise ja Yarise mudelitele.
            </p>
          </li><li class="list-group-item">
          <p class="desc">Hinnavõit kuni 3000 €</p>
        </li><li class="list-group-item">
        <div class="read-more-container"><a class="readMore" href="#" data-tooltip-selector="#item_promo10" data-bt-track="" data-bt-ispromotion="1" data-bt-promotionid="tcm-3019-226975-64" data-bt-action="view_info" data-bt-value="promotion_info">
          <span>Kehtib alates 1.04.2015 kuni 30.06.2015</span><i class="icon-info-sign"></i>
        </a></div><div id="item_promo10" class="expansion-content">
        <div class="expansion-inner">
          <p></p><p><em>Kombineeritud kütusekulu 3,3 - 3,9 l / 100 km, kombineeritud CO2 emissioon 75 - 91 g/km.&nbsp;</em></p>
          <p><em><br></em></p>
          <p><em>Kampaania kestab kuni 30.06.2015 või seni kuni kampaaniaautod on saadaval. Fotod on illustratiivsed. Soovituslikud jaemüügihinnad. Toyota Baltic AS jätab endale õiguse muuta hinnakirja ette teatamata. Konkreetse müügipakkumise saamiseks pöörduge Toyota ametlikku müügiesindusse.</em></p>
          <p><em><br></em></p>
          <em>Toyota Liisingu aastase fikseerimata kampaaniaintressiga, milleks on 0,99% + 3 kuu EURIBOR, on 13 258-eurose netohinnaga Auris krediidikulukuse määr 1,44% aastas. Sissemakse 15%. Krediidi kogusumma 60 kuu jooksul on 13 802,03 eurot. Krediidi kogusumma arvutamisel ei ole arvestatud võimalikke sõiduki registreerimiskulusid, riigilõive, hindamisakti tasu ega finantseerimise eeltingimuseks oleva kasko- ja liikluskindlustuse makse suurust. Pakkumine kehtib Toyota Liisinguga ning kestab kuni 30. juunini 2015. Finantsteenuse pakkuja on Nordea Finance Estonia AS. Tutvuge liisingutingimustega toyota.ee ning vajaduse korral konsulteerige asjatundjaga.</em><p></p>
        </div>
        <div class="expansion-arrow"></div>
        <a class="closelink" href="#">Sulge<i class="icon-remove"></i></a>
      </div>
        </li>
        </ul>
        <!-- promotion-list-group-info.nj : end -->
      </div>
      <div class="filterable">
      <!-- promotion-list-group-info.nj : begin -->
      <ul class="list-group" data-bt-eventclass="promotionevent" data-bt-category="component" data-bt-componentname="promotions">
        <li class="list-group-item" data-bt-action="view_promotion" data-bt-ispromotion="1">
      <a href="/new-cars/yaris/promo/yaris-promo.json" data-bt-track="" data-bt-ispromotion="1" data-bt-promotionid="tcm-3019-225131-64" data-bt-action="view_promotion" data-bt-value="/new-cars/yaris/promo/yaris-promo.json">
        <img src="http://d1hu588lul0tna.cloudfront.net/toyotaone/eeet/Hybrid_Yaris_555x249_EST_tcm-3019-296008.jpg" alt="Toyota Öko+ Yaris ja Yaris Hybrid eripakkumine">
      </a>
        </li>
        <li class="list-group-item">
      <a href="/new-cars/yaris/promo/yaris-promo.json" data-bt-track="" data-bt-ispromotion="1" data-bt-promotionid="tcm-3019-225131-64" data-bt-action="view_promotion" data-bt-value="/new-cars/yaris/promo/yaris-promo.json">
        <div class="promo-headlines">
          <h4>Toyota Öko+ Yaris ja Yaris Hybrid eripakkumine<i class="icon-tag"></i></h4></div>
        </a>
      </li><li class="list-group-item">
      <p class="desc">Vaata boonuspakkumisi kõikidele Aurise ja Yarise mudelitele.</p>
        </li><li class="list-group-item">
        <div class="read-more-container"><a class="readMore" href="#" data-tooltip-selector="#item_promo21" data-bt-track="" data-bt-ispromotion="1" data-bt-promotionid="tcm-3019-225131-64" data-bt-action="view_info" data-bt-value="promotion_info">
      <span>Kehtib alates 1.04.2015 kuni 30.06.2015</span><i class="icon-info-sign"></i>
        </a></div><div id="item_promo21" class="expansion-content">
        <div class="expansion-inner">
      <p></p><p><em>Kombineeritud kütusekulu 3,3 - 3,9 l / 100 km, kombineeritud CO2 emissioon 75 - 91 g/km.
      <br>
      <br>
      Kampaania kestab kuni 30.06.2015 või seni kuni kampaaniaautod on saadaval. Fotod on illustratiivsed. Soovituslikud jaemüügihinnad. Toyota Baltic AS jätab endale õiguse muuta hinnakirja ette teatamata. Konkreetse müügipakkumise saamiseks pöörduge Toyota ametlikku müügiesindusse.</em></p>
      <p><em><br></em></p>
      <p><em>Toyota Liisingu aastase fikseerimata kampaaniaintressiga, milleks on 0,99% + 3 kuu EURIBOR, on 13990-eurose netohinnaga Yarise krediidikulukuse määr 1,47% aastas. Sissemakse 15%. Krediidi kogusumma 60 kuu jooksul on 14 912,67 eurot. Krediidi kogusumma arvutamisel ei ole arvestatud võimalikke sõiduki registreerimiskulusid, riigilõive, hindamisakti tasu ega finantseerimise eeltingimuseks oleva kasko- ja liikluskindlustuse makse suurust. Pakkumine kehtib Toyota Liisinguga ning kestab kuni 30. juunini 2015. Finantsteenuse pakkuja on Nordea Finance Estonia AS. Tutvuge liisingutingimustega toyota.ee ning vajaduse korral konsulteerige asjatundjaga.
      </em></p><p></p>
        </div>
        <div class="expansion-arrow"></div>
        <a class="closelink" href="#">Sulge<i class="icon-remove"></i></a>
      </div></li>
      </ul>
      <!-- promotion-list-group-info.nj : end -->
      </div><div class="filterable">
      <!-- promotion-list-group-info.nj : begin -->
      <ul class="list-group" data-bt-eventclass="promotionevent" data-bt-category="component" data-bt-componentname="promotions">
        <li class="list-group-item" data-bt-action="view_promotion" data-bt-ispromotion="1">
      <a href="/new-cars/auris/promo/auris-hybrid-bonus.json" data-bt-track="" data-bt-ispromotion="1" data-bt-promotionid="tcm-3019-351699-64" data-bt-action="view_promotion" data-bt-value="/new-cars/auris/promo/auris-hybrid-bonus.json">
        <img src="http://d1hu588lul0tna.cloudfront.net/toyotaone/eeet/Hybrid_eko_AurisHybrid_555x249_EST_tcm-3019-357322.jpg" alt="Toyota Öko+ Auris Hybrid eripakkumine">
      </a>
        </li>
        <li class="list-group-item">
      <a href="/new-cars/auris/promo/auris-hybrid-bonus.json" data-bt-track="" data-bt-ispromotion="1" data-bt-promotionid="tcm-3019-351699-64" data-bt-action="view_promotion" data-bt-value="/new-cars/auris/promo/auris-hybrid-bonus.json">
        <div class="promo-headlines">
          <h4>Toyota Öko+ Auris Hybrid eripakkumine<i class="icon-tag"></i></h4></div>
        </a>
      </li><li class="list-group-item">
      <div class="read-more-container"><a class="readMore" href="#" data-tooltip-selector="#item_promo9" data-bt-track="" data-bt-ispromotion="1" data-bt-promotionid="tcm-3019-351699-64" data-bt-action="view_info" data-bt-value="promotion_info">
        <span>Kehtib alates 1.04.2015 kuni 30.06.2015</span><i class="icon-info-sign"></i>
      </a></div><div id="item_promo9" class="expansion-content">
      <div class="expansion-inner">
        <p></p><p><em>Kombineeritud kütusekulu 3,3 - 3,9 l / 100 km, kombineeritud CO2 emissioon 75 - 91 g/km.&nbsp;</em></p>
        <p><em><br></em></p>
        <p><em>Kampaania kestab kuni 30.06.2015 või seni kuni kampaaniaautod on saadaval. Fotod on illustratiivsed. Soovituslikud jaemüügihinnad. Toyota Baltic AS jätab endale õiguse muuta hinnakirja ette teatamata. Konkreetse müügipakkumise saamiseks pöörduge Toyota ametlikku müügiesindusse.</em></p>
        <p><em><br></em></p>
        <em>Toyota Liisingu aastase fikseerimata kampaaniaintressiga, milleks on 0,99% + 3 kuu EURIBOR, on 13 258-eurose netohinnaga Auris krediidikulukuse määr 1,44% aastas. Sissemakse 15%. Krediidi kogusumma 60 kuu jooksul on 13 802,03 eurot. Krediidi kogusumma arvutamisel ei ole arvestatud võimalikke sõiduki registreerimiskulusid, riigilõive, hindamisakti tasu ega finantseerimise eeltingimuseks oleva kasko- ja liikluskindlustuse makse suurust. Pakkumine kehtib Toyota Liisinguga ning kestab kuni 30. juunini 2015. Finantsteenuse pakkuja on Nordea Finance Estonia AS. Tutvuge liisingutingimustega toyota.ee ning vajaduse korral konsulteerige asjatundjaga.</em><p></p>
      </div>
      <div class="expansion-arrow"></div>
      <a class="closelink" href="#">Sulge<i class="icon-remove"></i></a>
        </div></li>
      </ul>
      <!-- promotion-list-group-info.nj : end -->
      </div><div class="filterable">
      <!-- promotion-list-group-info.nj : begin -->
      <ul class="list-group" data-bt-eventclass="promotionevent" data-bt-category="component" data-bt-componentname="promotions">
        <li class="list-group-item" data-bt-action="view_promotion" data-bt-ispromotion="1">
      <a href="/new-cars/auris/promo/auris-bonus.json" data-bt-track="" data-bt-ispromotion="1" data-bt-promotionid="tcm-3019-351698-64" data-bt-action="view_promotion" data-bt-value="/new-cars/auris/promo/auris-bonus.json">
        <img src="http://d1hu588lul0tna.cloudfront.net/toyotaone/eeet/Hybrid_eko_AurisTS_555x249_EST_tcm-3019-357333.jpg" alt="Toyota Öko+ Auris ja Auris Touring Sports eripakkumine">
      </a>
        </li>
        <li class="list-group-item">
      <a href="/new-cars/auris/promo/auris-bonus.json" data-bt-track="" data-bt-ispromotion="1" data-bt-promotionid="tcm-3019-351698-64" data-bt-action="view_promotion" data-bt-value="/new-cars/auris/promo/auris-bonus.json">
        <div class="promo-headlines">
          <h4>Toyota Öko+ Auris ja Auris Touring Sports eripakkumine<i class="icon-tag"></i></h4></div>
        </a>
      </li><li class="list-group-item finance-rate">
      <p>Vaata boonuspakkumisi kõikidele Aurise ja Yarise mudelitele.
      </p>
        </li><li class="list-group-item">
        <div class="read-more-container"><a class="readMore" href="#" data-tooltip-selector="#item_promo8" data-bt-track="" data-bt-ispromotion="1" data-bt-promotionid="tcm-3019-351698-64" data-bt-action="view_info" data-bt-value="promotion_info">
      <span>Kehtib alates 1.04.2015 kuni 30.06.2015</span><i class="icon-info-sign"></i>
        </a></div><div id="item_promo8" class="expansion-content">
        <div class="expansion-inner">
      <p><em>Kombineeritud kütusekulu 3,3 - 3,9 l / 100 km, kombineeritud CO2 emissioon 75 - 91 g/km.
        <br>
        Kampaania kestab kuni 30.06.2015 või seni kuni kampaaniaautod on saadaval. Fotod on illustratiivsed. Soovituslikud jaemüügihinnad. Toyota Baltic AS jätab endale õiguse muuta hinnakirja ette teatamata. Konkreetse müügipakkumise saamiseks pöörduge Toyota ametlikku müügiesindusse.
        <br>
        Toyota Liisingu aastase fikseerimata kampaaniaintressiga, milleks on 0,99% + 3 kuu EURIBOR, on 13 258-eurose netohinnaga Auris krediidikulukuse määr 1,44% aastas. Sissemakse 15%. Krediidi kogusumma 60 kuu jooksul on 13 802,03 eurot. Krediidi kogusumma arvutamisel ei ole arvestatud võimalikke sõiduki registreerimiskulusid, riigilõive, hindamisakti tasu ega finantseerimise eeltingimuseks oleva kasko- ja liikluskindlustuse makse suurust. Pakkumine kehtib Toyota Liisinguga ning kestab kuni 30. juunini 2015. Finantsteenuse pakkuja on Nordea Finance Estonia AS. Tutvuge liisingutingimustega toyota.ee ning vajaduse korral konsulteerige asjatundjaga</em></p>
      </div>
      <div class="expansion-arrow"></div>
      <a class="closelink" href="#">Sulge<i class="icon-remove"></i></a>
        </div></li>
      </ul>
      <!-- promotion-list-group-info.nj : end -->
      </div><div class="filterable" data-model="ya" data-offer="ecoplus" data-type="hybrid">
      <!-- promotion-list-group-info.nj : begin -->
      <ul class="list-group" data-bt-eventclass="promotionevent" data-bt-category="component" data-bt-componentname="promotions">
        <li class="list-group-item" data-bt-action="view_promotion" data-bt-ispromotion="1">
      <a href="/new-cars/yaris/promo/yaris-hybrid-bonus.json" data-bt-track="" data-bt-ispromotion="1" data-bt-promotionid="tcm-3019-347610-64" data-bt-action="view_promotion" data-bt-value="/new-cars/yaris/promo/yaris-hybrid-bonus.json">
        <img src="http://d1hu588lul0tna.cloudfront.net/toyotaone/eeet/Hybrid_eko_YarisHybrid_555x249_EST_tcm-3019-347615.jpg" alt="Toyota Öko+ Yaris Hybrid eripakkumine">
      </a>
        </li>
        <li class="list-group-item">
      <a href="/new-cars/yaris/promo/yaris-hybrid-bonus.json" data-bt-track="" data-bt-ispromotion="1" data-bt-promotionid="tcm-3019-347610-64" data-bt-action="view_promotion" data-bt-value="/new-cars/yaris/promo/yaris-hybrid-bonus.json">
        <div class="promo-headlines">
          <h4>Toyota Öko+ Yaris Hybrid eripakkumine<i class="icon-tag"></i></h4></div>
        </a>
      </li><li class="list-group-item">
      <p class="desc">Vaata boonuspakkumisi kõikidele Aurise ja Yarise mudelitele.</p>
        </li><li class="list-group-item">
        <div class="read-more-container"><a class="readMore" href="#" data-tooltip-selector="#item_promo20" data-bt-track="" data-bt-ispromotion="1" data-bt-promotionid="tcm-3019-347610-64" data-bt-action="view_info" data-bt-value="promotion_info">
      <span>Kehtib alates 1.04.2015 kuni 30.06.2015</span><i class="icon-info-sign"></i>
        </a></div><div id="item_promo20" class="expansion-content">
        <div class="expansion-inner">
      <p><em>Kombineeritud kütusekulu 3,3 - 3,9 l / 100 km, kombineeritud CO2 emissioon 75 - 91 g/km.
        <br>
        <br>
        Kampaania kestab kuni 30.06.2015 või seni kuni kampaaniaautod on saadaval. Fotod on illustratiivsed. Soovituslikud jaemüügihinnad. Toyota Baltic AS jätab endale õiguse muuta hinnakirja ette teatamata. Konkreetse müügipakkumise saamiseks pöörduge Toyota ametlikku müügiesindusse.
        <br>
        <br>
        Toyota Liisingu aastase fikseerimata kampaaniaintressiga, milleks on 0,99% + 3 kuu EURIBOR, on 13990-eurose netohinnaga Yarise krediidikulukuse määr 1,47% aastas. Sissemakse 15%. Krediidi kogusumma 60 kuu jooksul on 14 912,67 eurot. Krediidi kogusumma arvutamisel ei ole arvestatud võimalikke sõiduki registreerimiskulusid, riigilõive, hindamisakti tasu ega finantseerimise eeltingimuseks oleva kasko- ja liikluskindlustuse makse suurust. Pakkumine kehtib Toyota Liisinguga ning kestab kuni 30. juunini 2015. Finantsteenuse pakkuja on Nordea Finance Estonia AS. Tutvuge liisingutingimustega toyota.ee ning vajaduse korral konsulteerige asjatundjaga.
      </em></p>
        </div>
        <div class="expansion-arrow"></div>
        <a class="closelink" href="#">Sulge<i class="icon-remove"></i></a>
      </div></li>
      </ul>
      <!-- promotion-list-group-info.nj : end -->
      </div><div class="filterable">
      <!-- promotion-list-group-info.nj : begin -->
      <ul class="list-group" data-bt-eventclass="promotionevent" data-bt-category="component" data-bt-componentname="promotions">
        <li class="list-group-item" data-bt-action="view_promotion" data-bt-ispromotion="1">
      <a href="/new-cars/yaris/promo/yaris-bonus.json" data-bt-track="" data-bt-ispromotion="1" data-bt-promotionid="tcm-3019-357363-64" data-bt-action="view_promotion" data-bt-value="/new-cars/yaris/promo/yaris-bonus.json">
        <img src="http://d1hu588lul0tna.cloudfront.net/toyotaone/eeet/Hybrid_eko_Yaris_555x249_EST_tcm-3019-347617.jpg" alt="Toyota Öko+ Yaris eripakkumine">
      </a>
        </li>
        <li class="list-group-item">
      <a href="/new-cars/yaris/promo/yaris-bonus.json" data-bt-track="" data-bt-ispromotion="1" data-bt-promotionid="tcm-3019-357363-64" data-bt-action="view_promotion" data-bt-value="/new-cars/yaris/promo/yaris-bonus.json">
        <div class="promo-headlines">
          <h4>Toyota Öko+ Yaris eripakkumine<i class="icon-tag"></i></h4></div>
        </a>
      </li><li class="list-group-item">
      <p class="desc">Vaata boonuspakkumisi kõikidele Aurise ja Yarise mudelitele.</p>
        </li><li class="list-group-item">
        <div class="read-more-container"><a class="readMore" href="#" data-tooltip-selector="#item_promo19" data-bt-track="" data-bt-ispromotion="1" data-bt-promotionid="tcm-3019-357363-64" data-bt-action="view_info" data-bt-value="promotion_info">
      <span>Kehtib alates 1.04.2015 kuni 30.06.2015</span><i class="icon-info-sign"></i>
        </a></div><div id="item_promo19" class="expansion-content">
        <div class="expansion-inner">
      <p><em>Kombineeritud kütusekulu 3,3 - 3,9 l / 100 km, kombineeritud CO2 emissioon 75 - 91 g/km.
        <br>
        Kampaania kestab kuni 30.06.2015 või seni kuni kampaaniaautod on saadaval. Fotod on illustratiivsed. Soovituslikud jaemüügihinnad. Toyota Baltic AS jätab endale õiguse muuta hinnakirja ette teatamata. Konkreetse müügipakkumise saamiseks pöörduge Toyota ametlikku müügiesindusse.
        <br>
        Toyota Liisingu aastase fikseerimata kampaaniaintressiga, milleks on 0,99% + 3 kuu EURIBOR, on 13990-eurose netohinnaga Yarise krediidikulukuse määr 1,47% aastas. Sissemakse 15%. Krediidi kogusumma 60 kuu jooksul on 14 912,67 eurot. Krediidi kogusumma arvutamisel ei ole arvestatud võimalikke sõiduki registreerimiskulusid, riigilõive, hindamisakti tasu ega finantseerimise eeltingimuseks oleva kasko- ja liikluskindlustuse makse suurust. Pakkumine kehtib Toyota Liisinguga ning kestab kuni 30. juunini 2015. Finantsteenuse pakkuja on Nordea Finance Estonia AS. Tutvuge liisingutingimustega toyota.ee ning vajaduse korral konsulteerige asjatundjaga.</em></p>
      </div>
      <div class="expansion-arrow"></div>
      <a class="closelink" href="#">Sulge<i class="icon-remove"></i></a>
        </div></li>
      </ul>
      <!-- promotion-list-group-info.nj : end -->
      </div><div class="filterable">
      <!-- promotion-list-group-info.nj : begin -->
      <ul class="list-group" data-bt-eventclass="promotionevent" data-bt-category="component" data-bt-componentname="promotions">
        <li class="list-group-item" data-bt-action="view_promotion" data-bt-ispromotion="1">
      <a href="/current-offers/accessories-yaris.json" data-bt-track="" data-bt-ispromotion="1" data-bt-promotionid="tcm-3019-370948-64" data-bt-action="view_promotion" data-bt-value="/current-offers/accessories-yaris.json">
        <img src="http://d1hu588lul0tna.cloudfront.net/toyotaone/eeet/Yaris_veebibanner_555x249_EST_tcm-3019-370972.jpg" alt="Yaris lisavarustus">
      </a>
        </li>
        <li class="list-group-item">
      <a href="/current-offers/accessories-yaris.json" data-bt-track="" data-bt-ispromotion="1" data-bt-promotionid="tcm-3019-370948-64" data-bt-action="view_promotion" data-bt-value="/current-offers/accessories-yaris.json">
        <div class="promo-headlines">
          <h4>Yaris lisavarustus<i class="icon-tag"></i></h4><h5>Vali brošüürist lisavarustuspakett või neli ükskõik millist lisavarustusse kuuluvat toodet ning saad need soodushinnaga.</h5></div>
        </a>
      </li><li class="list-group-item">
      <div class="read-more-container"><a class="readMore" href="#" data-tooltip-selector="#item_promo5" data-bt-track="" data-bt-ispromotion="1" data-bt-promotionid="tcm-3019-370948-64" data-bt-action="view_info" data-bt-value="promotion_info">
        <span>Vaata kohustustest lahtiütlemise teavet</span><i class="icon-info-sign"></i>
      </a></div><div id="item_promo5" class="expansion-content">
      <div class="expansion-inner">
        <p>Brošüüris olevad müügihinnad on soovituslikud. Toote- või teenusepakkujal on õigus hindu ette teatamata muuta. Pildid on illustratiivsed, tooted võivad mudelist sõltuvalt piltidel olevatest erineda.</p>
      </div>
      <div class="expansion-arrow"></div>
      <a class="closelink" href="#">Sulge<i class="icon-remove"></i></a>
        </div></li>
      </ul>
      <!-- promotion-list-group-info.nj : end -->
      </div>
      
      
      </div>
    </div>

</div>
</section>