<section id="teaser">
  <div class="container">
    <header>
      <h1>Sa saad</h1>
    </header>
    <div class="row">

      <div class="col-sm-5 col-lg-4">
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object img-responsive" src="assets/img/calendar.png"
            alt="history">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Kalender</h4>
            Vaata oma auto hooldusajalugu, saa meeldetuletusi (hooldus, kindlustus, ülevaatus jne).
          </div>
        </div>
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="assets/img/computer.png"
            alt="history">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Broneeri internetis</h4>
            Broneeri hooldusaeg internetis kasvõi südaöösel, vaata hoolduse maksumust ja selles sisalduvaid töid.
          </div>
        </div>
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="assets/img/book.png"
            alt="history">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Kasutusjuhendid ja -videod</h4>
            Kuidas paigaldada katuseraami või kontrollida õlitaset? Vaata digitaalset omaniku käsiraamatut või videoid.
          </div>
        </div>
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="assets/img/car.png"
            alt="history">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Pakkumised ja lisavarustus</h4>
            Kõik head pakkumised ühes kohas, sealhulgas Sinu mudelile saadaolev lisavarustus.
          </div>
        </div>
        <!--         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda id aut sunt eos alias soluta consectetur sapiente accusamus maxime cum cupiditate praesentium obcaecati, non nam asperiores, neque reiciendis libero perferendis!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quasi velit, excepturi blanditiis quod quae, tempora laboriosam iste perferendis adipisci quas quos, eveniet illum beatae delectus pariatur vero. Omnis, neque.</p> -->

      </div>
      <div class="col-xs-12 col-sm-7 col-lg-offset-1">
        <img src="assets/img/onscreens.jpg" alt="" class="img-responsive">
        <div>
          <a href="profile.html" class="btn btn-large btn-red">
            Tee algust nüüd!<i class="icon-chevron-right"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- <div class="row">
    <div class="col-sm-4">
    <img src="assets/img/icon_history.png" alt="" class="img-responsive text-center">
    <h3>Minu Toyota kalender</h3>
    <span>
    Registreeru ja saa eksklusiivne juurdepääs oma auto teenindusajaloole ning hoia end kursis oma autoga seotud sündmustest.
  </span>
</div>
<div class="col-sm-4">
<img src="assets/img/icon_offers.png" alt="" class="img-responsive text-center">
<h3>Parimad pakkumised</h3>
<span>
Ära jää ilma parimatest pakkumistest! Registreeru ja saa osa vaid Sulle mõeldud pakkumistest!.
</span>
</div>
<div class="col-sm-4">
<img src="assets/img/icon_manuals.png" alt="" class="img-responsive text-center">
<h3>Toyota juhendid</h3>
<span>
Registreeru Sinu autoga seotud kasutusjuhendite ligipääsuks
</span>
</div>
</div> -->

</div>
</section>
