<section id="videos" class="spotlights next-steps navy">
  <div class="container">
    <header>
      <h1>Videod</h1>
      <!-- <a class="view-all-button" data-toggle="collapse">Vaata kõiki (4)</a> -->
    </header>
    <div id="next-steps-spotlights">
      <div class="row row-1">
        <div class="col-xs-12 col-md-6 col-xs-center youtube no-js-hide">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/9huNSUY6s_4?wmode=opaque" allowfullscreen=""></iframe>
          </div>
          <h3 class="item-title">Finance & insurance</h3>
          <span class="description">Nisi elit consequat ipsum sit amet nibh vulputate cursus a sit amet mauris.</span>
        </div>
        <div class=" col-xs-12 col-md-6 col-xs-center youtube no-js-hide">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/9huNSUY6s_4?wmode=opaque" allowfullscreen=""></iframe>
          </div>
          <h3 class="item-title">Finance & insurance</h3>
          <span class="description">Nisi elit consequat ipsum sit amet nibh vulputate cursus a sit amet mauris.</span>
        </div>
      </div>


      <div class="row row-2 collapse">
        <a href="carchapter-radio.html" class="col-xs-12 col-sm-6 spotlight direct-link regular-size">
          <img class="img-responsive" src="assets/img/next-step-2.jpg" alt="">
          <h3 class="item-title">Finance & insurance</h3>
          <span class="description">Nisi elit consequat ipsum sit amet nibh vulputate cursus a sit amet mauris.</span>
        </a>
        <a href="carchapter-radio.html" class="col-xs-12 col-sm-6 spotlight direct-link regular-size">
          <img class="img-responsive" src="assets/img/next-step-1.jpg" alt="">
          <h3 class="item-title">Warranty</h3>
          <span class="description">Nisi elit consequat ipsum sit amet nibh vulputate cursus a sit amet mauris.</span>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="dealer-finder navy in-page hidden-xs">
  <div class="container">
    <header class="section-title">
      <h1>Otsi videot</h1>
    </header>
    <div class="forms">
      <div class="row">
        <div class="col-xs-12 col-sm-6 form">
          <h3 class="error-message"></h3>

          <div class="input-search form-btn">
            <input type="text" placeholder="Otsi" data-validation="length" min-length="2">
            <a class="btn-search btn-search-dealers btn-search-in-page" href="carchapter-radio.html">
              <i class="icon-search"></i>
            </a>
          </div>
          <div class="row search-options">
            <div class="col-sm-6">
              <ul>
                <li>
                  <input type="checkbox" name="options" id="options-4" value="rentcars">
                  <label for="options-4">Teema1</label>
                </li>
                <li>
                  <input type="checkbox" name="options" id="options-5" value="prius">
                  <label for="options-5">Tee ise</label>
                </li>
                <li>
                  <input type="checkbox" name="options" id="options-6" value="bodyshop">
                  <label for="options-6">Keretööd</label>
                </li>
                <li>
                  <input type="checkbox" name="options" id="options-7" value="paintshop">
                  <label for="options-7">Teema2</label>
                </li>
                <li>
                  <input type="checkbox" name="options" id="options-8" value="workshop">
                  <label for="options-8">Teema4</label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-padding-6 text-right dealer-next-steps">
          <h3>Otsid oma autole lisasid? </h3>
          <div class="button-container">
            <a href="carchapter-radio.html#" class="btn btn-red">
              Käed-vabad süsteem<i class="icon-chevron-right"></i>
            </a>
            <a href="carchapter-radio.html#" class="btn btn-red">
              Navigatsioonikaardi uuendus<i class="icon-chevron-right"></i>
            </a>
            <br>
            <br>
            <a href="carchapter-radio.html#" class="btn btn-red">
              Lisavarustuse kasutusjuhendid<i class="icon-chevron-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>